[2012-11-19 09:39] vannhi opened #3 "The files from META-INF (from the Spring jars) overwrite each other in executable jar"
Hello,
I'm trying to use your plugin in my project but I have the same issue in packaging as Maven Assembly described here: http://jira.codehaus.org/browse/MASSEMBLY-360

I have spring.handlers and spring.chemas in 2 dependencies spring-context.jar and spring-beans which get overwritten when packaging, so the application is unable to start.

Can you do something about it, like maven-shade-plugin d

[2012-11-25 12:33] carljmosca opened #4 "OS X fix-classpath"
How does the plugin find the current version of Java (JRE)?

If I run the Java control panel I only see Java 7.  If I run "java -version" from the command line I get this:

java version "1.7.0_10-ea"
Java(TM) SE Runtime Environment (build 1.7.0_10-ea-b10)
Java HotSpot(TM) 64-Bit Server VM (build 23.6-b04, mixed mode)

If I run the fix-classpath, I get this:

This action will change the runtime cla

[2012-11-26 18:11] ramykamel opened #5 "Wrong plugin version in the generated sample app?"
Going through your steps I end up with this in the sample pom.xml:
<plugin>
                <groupId>com.zenjava</groupId>
                <artifactId>javafx-maven-plugin</artifactId>
                <version>1.2</version>
                <configuration>

Shouldn't that be <version>1.3</version> and not 1.2?

Ramy

[2012-11-27 06:55] #4 closed, assigned to nobody

[2012-12-21 18:19] tleveque23 opened #6 "Mac OS build-native problem"
There is some problem when bilding native app on Mac OS. First the application created is called Null.app and then the creation of the DMG image file fail with the following error:

[ERROR] Failed to execute goal com.zenjava:javafx-maven-plugin:1.3:build-native (default-cli) on project MyTestApp: Invocation of JavaFX method 'generateDeploymentPackages' failed with an error. It's possible this plug

[2013-01-13 13:29] pjean opened #7 "Complete the wiki"
Hi,

JavaFX maven plugin is very usefull but some documentations are missing in the wiki like in "Building a webstart bundle" page. I would like to build a webstart app with maven but I don't know how to create a custom template.

Many thanks

[2013-01-14 09:50] McClan3 opened #8 "Disable CSS to BSS conversion?"
Hi,

is it possible to disable the CSS -> BSS-Conversion when building a jar with the plugin?

I get a problem with relative paths for images in bss-files. After the conversion the bss-file contains an absolute path to the location of the stylesheet in my workspace.
So it's not possible to install the app to another pc.

[2013-01-14 21:14] #5 closed, assigned to nobody

[2013-01-19 16:52] kashammi opened #9 "Unknown archiver type: No such archiver: 'pom'"
Attempting to include the eclipselink-wrapper dependency results in the following error while executing the jfx:build-jar goal of the javafx-maven-plugin:

[INFO] Unpacking /home/zzz/.m2/repository/org/glassfish/persistence/eclipselink-wrapper/3.1.1/eclipselink-wrapper-3.1.1.pom to /nfs/home/zzz/Development/projects/xxx/yyy/yyy/target/jfx-dependencies with includes "" and excludes ""
[INFO] ------

[2013-01-21 14:44] metasim opened #10 "Provide convenience mechanism for setting application icon"
One of the more frustrating aspects of trying to use the JavaFX packaging tools with Maven is overriding the configuration resources. Part of the issue has to do with figuring out how to put these resources on the Maven->Ant->javafxpackager classpath. Adding a capability for providing OS specific (or crossplatform?) application icons via the plugin configuration would be a giant step in the direct

[2013-01-30 02:33] peterbecker opened #12 "Required parameter "vendor" not documented"
Trying to run the plugin I ran into the following error:

    [ERROR] Failed to execute goal com.zenjava:javafx-maven-plugin:1.3:build-jar (build-jar) on project epik-protocol-tools: The parameters 'vendor' for goal com.zenjava:javafx-maven-plugin:1.3:build-jar are missing or invalid -> [Help 1]

By looking at the source code I figured out that I should set /project/organization/name in the POM, b

[2013-02-11 09:19] lgringo opened #13 "Default WebStart Html Template correction"
There's a minor problem in the default html template for WebStart :
The javafx version shouldn't be suffixed with "+" as the app.jfxVersion is already 2.2.+

And there's a major problem :
The url parameter is kept to ${app.jnlpFileName} instead of be replacer by the template processor engine. In fact, the class ApplicationProfile does not contain the attribute jnlpFileName at all.

[2013-02-14 09:21] #9 closed, assigned to nobody

[2013-02-15 18:51] jaybe78 opened #15 "Can't sign the jar wihen mvn:build-webstart (jdk 1.7.0_13)"
Hi Zonski,

First, Thanks for your brilliant work!
I'm working with jdk 1.7.0_13 on windows 7 64 bits.
mvn jfx:build-webstart doesn't work when signing the jar but it works without. It seems related to my java version.
Here is the error returned:
Invocation of JavaFX method 'signJar' failed with an error. It's possible this plugin is not compatible with the version of JavaFX you are using. Invocat

[2013-02-16 12:53] #13 closed, assigned to nobody

[2013-02-16 21:10] #8 closed, assigned to nobody

[2013-02-21 00:38] #6 closed, assigned to nobody

[2013-02-21 00:38] #10 closed, assigned to nobody

[2013-02-25 15:07] BhawaniSingh opened #16 "Failed to execute goal com.zenjava:javafx-maven-plugin:1.5:build-jar"
[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO]
[INFO] ------------------------------------------------------------------------
[INFO] Building Calotes 1.0b10
[INFO] ------------------------------------------------------------------------
[INFO]
[INFO] >>> javafx-maven-plugin:1.5:build-native (default-cli) @ Calotes >>>
[INFO]
[INFO] >>> javafx-maven-plugin:1.5:build

[2013-02-26 16:59] #16 closed, assigned to nobody

[2013-03-14 01:34] jonathancrosmer opened #17 "Support for running embedded in browser"
Great work on the plugin.  I intend to use it for a JavaFX app that will be embedded in the browser.  I need to trigger the FX deployment code to generate the right tags in the JNLP file for this etc.  Right now I can do this manually, but it would be great if the plugin had support for this (in addition to standalone, web start, .bat., etc.).

Example of some of the JNLP code that is generated:

[2013-04-03 10:29] mthiele opened #18 "Set JVM args for native application."
When generating a native application (we use Windows), the given ```<jreArgs>``` in the configuration are completely ignored. This is a real showstopper for us, since we have to increase the standard heap space and pass other parameters as well.
As far as I understand, the JavaFXPackager does support custom JVM arguments, so this should be possible from within this plugin, too.

[2013-04-12 20:46] Gyetko opened #19 "Icons and Splash Screen Images are not Copied"
I am placing my icon (icon.png) and splash (splash.jpg) into the correct template directories.

When I run the command

mvn -e -X jfx:build-webstart -DskipTests

The output indicates that the icon file is found.
Using icon file at 'C:\...\src\main\deploy\icon.png'

But is is not copied into the output directory.

Inspecting the code in AbstractBundleMojo.java, you are setting the local variable ic

[2013-04-21 15:51] srynoname opened #20 "Unable to retrieve component configurator for plugin configuration / Artifact has been relocated to commons-io:commons-io:1.3.2"
I am trying to use  zonski's [`javafx-maven-plugin`](https://github.com/zonski/javafx-maven-plugin/wiki), however when executing

[code]

(more details on [Fixing the JRE classpath](https://github.com/zonski/javafx-maven-plugin/wiki/Fixing-the-JRE-classpath)) I get one warning and one error:

[code]

Here's the full log:

[code]

Any hints on how to fix this? Thanks :-)

(Also posted on Stackoverf

[2013-04-28 15:16] phaus opened #22 "Running installed App from MSI Bundle in Windows XP crashes."
I am getting some errors, while running the App in Windows XP:

![JVM_WIN_Error1](https://f.cloud.github.com/assets/346361/435911/ff5db6c6-b013-11e2-8ed0-cafff9c2dd93.png)

![JVM_WIN_Error2](https://f.cloud.github.com/assets/346361/435913/08b3f258-b014-11e2-993f-c36ddaaf2142.png)

![JVM_WIN_Error3](https://f.cloud.github.com/assets/346361/435914/0c83221e-b014-11e2-94f4-ae3d1680ba94.png)

Project S

[2013-04-30 00:16] ghost opened #23 "Cannot create project using javafx-basic-archetype"
Below is the output from running mvn archetype:generate com.zenjava:javafx-basic-archetype:1.3

[INFO] Error stacktraces are turned on.
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] BUILD FAILURE
[INFO] ------------------------------------------------------------------------
[INFO] Total time: 0.438s
[INFO] Finished at: Tue A

[2013-04-30 00:23] #20 closed, assigned to nobody

[2013-04-30 00:29] #17 closed, assigned to nobody

[2013-04-30 00:32] #15 closed, assigned to nobody

[2013-04-30 00:41] #23 closed, assigned to nobody

[2013-05-01 09:21] tarrsalah opened #24 "the ".css" extension don't change to ".bss" as expected, when packaging the App"
this is basically a question on StackOverflow [Scene.getStylesheets().add() not working inside jar file](http://stackoverflow.com/questions/16287053/scene-getstylesheets-add-not-working-inside-jar-file/16287238#16287238), is there any better approach to automate the process ?

[2013-05-18 23:25] harry12345 opened #25 "native bundle with lib folder"
Parameter should be created to allow native bundle creation with lib folder. Dependent jars should be placed into lib folder. In the current version 1.5 one merged jar is created it causes serious problems, file overrides, file conflicts with the same name in the same folder between jars. Final solutions should be a parameter to allow bundle creation with lib folder.

[2013-05-19 13:03] belgoros opened #26 "adding JavaFX runtime to the classpath fails on OS X 10.8.3"
After running the maven command as explained, it fails as follows:

[code]

Here is Maven & Java details:

[code]

Any idea? Thanks

[2013-05-24 12:58] srynoname opened #27 "Including jar from local repository?"
Hello,

I need to use a jar file from a local repository (javafx-dialogs, see [1]) in my project. This jar shall also be included in a jar file generated by running jfx:build-jar. However, when running the generated jar file, a NullPointerException occurs:

 Exception in Application start method
 java.lang.reflect.InvocationTargetException
         at sun.reflect.NativeMethodAccessorImpl.invoke0(N

[2013-05-26 14:13] #26 closed, assigned to nobody

[2013-05-26 14:15] #24 closed, assigned to nobody

[2013-05-29 12:20] SylvainCharroy opened #31 "Create a native javafx app with Inno Setup and Maven"
I've a little JavaFX app and I use Maven for managing the dependencies thanks to the javafx-maven-plugin.

I want to use the option who will build a native installer based on the settings (mvn jfx:build-native) using InnoSetup (on windows)

That's work pretty well but I can't find where I can specify all the Inno Setup options (like those visible here : http://www.jrsoftware.org/ishelp/index.php?t

[2013-05-30 09:34] #22 closed, assigned to nobody

[2013-06-05 20:26] talios opened #32 "Does not work with Apache Maven 3.1"
Apache Maven 3.1 has just been released ( altho the release isn't officially published yet ) which makes a change from using Sonatype Aether to using Eclipse Aether, which incurs package renames, and a few API changes.

    [ERROR] Failed to execute goal com.zenjava:javafx-maven-plugin:1.5:build-jar
      (build-jar) on project norrellfx: Execution build-jar of goal
      com.zenjava:javafx-maven-

[2013-06-07 10:57] AgostinoX opened #33 "runtime dependencies are included in fx jar"
runtime scoped dependencies are not packaged into the .jar file like compile scoped ones.
The *-jfx.jar file instead contains also the runtime dependencies, so you are forced to set to "provided" the scope if you want to include them.

[2013-07-04 19:48] og0815 opened #34 "Allow adding of induvidual Manifest Entries"
Hi,

it would be nice to have the option to add individual entries to the generated Manifest.
(Like in the maven-jar-plugin)
e.g.:
Something like this
[code]
Would produce a mainfest entry of:
SplashScreen-Image: splash.png

I asume it is possible to do with
com.sun.javafx.tools.packager.CreateJarParams.setManifestAttrs(Map<String, String> manifestAttrs)

If I get some time the weekend I might sup

[2013-07-07 04:27] hexid opened #35 "JavaFX-Fallback-Class"
Currently, I can't find any way of setting a fallback class.

This could be accomplished with `CreateJarParams.setFallback(String fallback)`

Also, the following should be noted from the source of `PackagerLib.packageAsJar(CreateJarParams createJarParams)`:

    //Default fallback class uses "private" interface to
    // get additional error paramters. Do not add it to manifest
    // explicitly t

[2013-07-11 07:03] aliebelt opened #38 "Pass a script-file to Inno Setup"
First of all: Thank you for this great plugin!

For customizing the installation-process of the Installer generated by Inno Setup (e.g. licence, desktop Icon, installation folder) it would be very useful to pass a script-file to Inno Setup.

Looking into the (icon-) paths if there exists a script-file might be a good idea:
Windows: src/main/deploy/package/windows/[project-final-name].iss
Mac: src/

[2013-07-23 08:33] SimY4 opened #39 "Problem in jvm properties setting"
Hi,

I have my application pom configured like so:

[code]

The problem is that declared jvm parameters are not set in during application runtime wrapped in native bundle.

Launching my application like so `java -jar someApp.jar -Dtwitter4j.oauth.consumerKey=${consumerKey} -Dtwitter4j.oauth.consumerSecret=${consumerSecret}` have no problems so I suppose that there's something wrong in jvm properti

[2013-07-25 07:15] #39 closed, assigned to nobody

[2013-08-26 21:31] HellsCargo opened #40 "jfx:web - Signing Jars"
A couple of issues:
JSE1.7 u25+_ requires new attributes on jar signing meaning that running an JNLP will give errors "Missing Permissions manifest attribute for {jarfile}". See http://docs.oracle.com/javase/7/docs/technotes/guides/jweb/no_redeploy.html

Secondly, field values in the JNLP are missing in the jfx config e.g. \<description\>. Also, I'm not seeing \<organization\> migrate from the mai

[2013-09-04 09:49] sbordes opened #41 "Integrate FXML transform tool"
Tom Schindl has demonstrated that it's possible to compile fxml file (and even to convert them as plain old java UI class).

http://tomsondev.bestsolution.at/2013/08/29/convert-fxml-to-java-as-part-of-the-build/

It's a alpha release, but it will sound great if we can add this feature to this maven plugin.

In a second time we can improve fxml generated java classes to add some features.

[2013-09-09 16:21] cowwoc opened #42 "Ability to customize MSI installer"
We should be able to customize the MSI installer as mentioned in the JavaFX documentation. See http://stackoverflow.com/q/18667061/14731 for more information.

[2013-09-10 15:08] samuelcguimaraes opened #43 "Problems with jfx:native"
I get the exception below

[code]

Basically, I have my application pom configured like so:
[code]

My system version:
[code]

So, what's going on?

[2013-09-19 08:39] burkhardm opened #44 "Problems with Java SE Development Kit 7u40"
Due to changes in JDK 7u40, the javafx-maven-plugin seems to be unable to execute *jfx:run*. I successfully tested the javafx-maven-plugin using JDK 7u21.

I received the following error message using jfx:run on Mac OS X:

[code]

I received the following error message using *jfx:run* on Windows:

[code]

[2013-09-19 13:14] kpenrose opened #45 "Problems with javafx-maven-plugin and 1.7.0_40"
I have been using your plugin successfully with javafx/netbeans up until the release of 1.7.0_40.  Now that I have installed that version of java, I can no longer build and run applications that worked perfectly well before.  Inside of NetBeans I get unsatisfied linker errors, and when running packaged apps built against the u25 release (executed with u40 java) I get some type of unrecoverable exe

[2013-09-29 20:32] BorzdeG opened #46 "FileNotFoundException: ...\target\jfx\web\lib"
If your project has no dependencies, the following error occurs for "jfx:web":

...
Signing (BLOB) ${project.build.directory}\jfx\web\lib
java.io.FileNotFoundException: ${project.build.directory}\jfx\web\lib (Can not find the file specified)
...

[2013-10-24 21:03] codedragon76 opened #48 "Implementation Entries"
I need to pass forward the maven version number into the running application. The maven-jar-plugin allows me to insert these records into the jar using addDefaultImplementationEntries. However these entries don't make it into the javafx manifest file. I assume you are possibly generating the manifest file from scratch? Is there a way to get these parameters through?

[2013-11-21 16:58] brevleq opened #49 "Change classpath of dependencies"
I believe a plugin configuration option that permits the change of the dependencies in MANIFEST.MF file, like in maven-jar-plugin, could add more flexibility to the generated jar file. Something like this:

    <plugin>
        <groupId>com.zenjava</groupId>
        <artifactId>javafx-maven-plugin</artifactId>
        <version>2.0</version>
        <configuration>
                 <mainClass>com.h

[2014-02-28 15:35] Philipp91 opened #55 "License File"
A feature to add a license file would be great. This could be either by default a file named "license.txt", or a configurable name or maybe even a configuration section to allow specifying arbitrary resource file.

I think that the license fill can be added like this:
https://github.com/zonski/javafx-maven-plugin/blob/master/src/main/java/com/zenjava/javafx/maven/plugin/NativeMojo.java
somewhere a

[2014-03-07 17:49] blastStu opened #56 "Windows Native. Missing MSVCR100.dll"
Hi.  I'm building a JavaFX application using Maven with this plugin.  Building an executable jar works fine.  Building a native executable succeeds, but when I run the Application I get a few errors:
1. "The program can't start because MSVCR100.dll is missing from your computer.  Try reinstalling the program to fix this problem." Click OK to...
2. "Error loading jvm.dll" Click OK to...
3. "Failed

[2014-03-27 17:17] blastStu opened #57 "How to pass the -Xmx param?"
Hi, I am currently passing the JVM param -Xmx8G to my application as a VM Option in Intellij.

What is the correct way to do this in Maven?  I've currently got this configured, but it's not being recognised...

[code]

Any thoughts?

[2014-04-01 20:05] Philipp91 opened #58 "JDK 8u20 compatibility"
When I use the javafx-maven-plugin with the latest 8u20 b05 Build, I get:

Apr 01, 2014 9:39:49 PM org.sonatype.guice.bean.reflect.Logs$JULSink warn
WARNUNG: Error injecting: com.zenjava.javafx.maven.plugin.NativeMojo
java.lang.NoClassDefFoundError: Lcom/sun/javafx/tools/packager/bundlers/Bundler$BundleType;
        at java.lang.Class.getDeclaredFields0(Native Method)
        at java.lang.Class.pr

[2014-05-18 17:58] pjBooms opened #59 ""Main application jar is missing", if you rename main jar with <jfxMainAppJarName>"
I have tried to customize main jar name with <jfxMainAppJarName> but now, native packaging stage is skipping due to the following:

  Skip [Windows Application Bundler] due to [Main application jar is missing.]
   [Make sure to use fx:jar task to create main application jar.]

However it works if you specify the name with the ".jar" extension

[2014-05-26 17:57] FilterPunk opened #60 "Update jvmArgs documentation"
Is this the correct way to pass jvmArgs?
Can you please update the jvmArgs Documentation.
![jvmargs](https://cloud.githubusercontent.com/assets/4501171/3091331/9fbad884-e59b-11e3-8d64-e0c34c553a79.jpg)
The tag "jvmArg" should at least be mentioned.

[2014-05-28 18:48] #58 closed, assigned to nobody

[2014-05-28 18:51] #57 closed, assigned to nobody

[2014-05-28 18:52] #56 closed, assigned to nobody

[2014-05-29 06:30] maqjav opened #61 "Missing Application-Name manifest attribute"
Hello.

I've followed the tutorial at http://zenjava.com/javafx/maven/web-bundle.html# in order to create a webstarter of my app, and when I try to run it with the generated HTML I get this error: Missing Application-Name manifest attribute

I checked the manifest file in my JAR and it doesnt have the application-name defined. How can I add it with maven?

Thanks!

[2014-06-18 13:34] johnzeringue opened #62 "Issue with Windows binary"
I'm trying to use your plugin to generate native binaries for a project of mine (using Java 8) and it's working perfectly on Mac but not on Windows. When I run the Windows binary, it'll open the main page, but clicking a button that opens a new window doesn't work.

My guess is that it's choking on the external library that the button calls, because that's the first time the program uses any exter

[2014-06-28 03:53] dreyj opened #63 "how would i fix a java fx launcher error unable to invoke main method"

[2014-07-07 16:57] rossjudson opened #64 "Cannot build when target/classes does not exist"
When using the jfx plugin from a POM project that aggregates together others, the JarMojo fails because target/classes does not exist. The target/classes path should not be appended to the resources unless it exists.

  Caused by: org.apache.maven.plugin.MojoExecutionException: Unable to build JFX JAR for application
	at com.zenjava.javafx.maven.plugin.JarMojo.execute(JarMojo.java:110)
	at org.apa

[2014-07-09 13:09] rsc1975 opened #65 "How to add obfuscation task in native building"
Hi, I have a JavaFX application that I package with `javafx-maven-plugin`, but now I'm trying to obfuscate the code.

To achieve this I use an ant task using ProGuard, but my problem is that I couldn't find a way to call this obfuscation task between the `jfx:jar` and the `jfx:native` goals, both of them are called on `package` phase and the `jfx:native` calls **always** to `jfx:jar`, so I cannot

[2014-07-11 12:33] takiri opened #66 "mvn jfx:generate-key-store failure"
Hello,
first of all thank you for this great plugin!
I'm trying to generate a keystore with mvn jfx:generate-key-store but it fails. Can't figure out if I'm missing something in the POM or if this is a "relevant" bug...

Thanks a lot!

Here is the command line (in my project base directory):

(By the way, would it be possible to choose the validity period please?)

Here is the relevant part of my

[2014-08-01 17:15] skiwi2 opened #67 "Tests are failing via Maven pom.xml"
Referencing an issue from TestFX/TestFX#131, such that you are aware.

I've got a pom.xml file there and building the JavaFX application fails, because the tests fail for some reason.

It works fine with Netbeans' native Ant JavaFX packager.

[2014-08-14 08:09] BorzdeG opened #68 "support Java8"
Failed to execute goal com.zenjava:javafx-maven-plugin:2.0:jar (default) on project gui-desktop: Execution default of goal com.zenjava:javafx-maven-plugin:2.0:jar failed: An API incompatibility was encountered while executing com.zenjava:javafx-maven-plugin:2.0:jar: java.lang.NoSuchMethodError: com.sun.javafx.tools.packager.Log.setLogger(Lcom/sun/javafx/tools/packager/Log$Logger;)

JDK: 1.8.0_20

[2014-08-19 22:21] #68 closed, assigned to nobody

[2014-08-20 07:52] Jerady opened #69 "Not running with JDK 8u20"
All works fine with JDK 8u5 + 8u11 but with JDK 8u20 API has changed:

"Failed to execute goal com.zenjava:javafx-maven-plugin:2.0:jar (jar) on project mqtt-fx-client: Execution jar of goal com.zenjava:javafx-maven-plugin:2.0:jar failed: An API incompatibility was encountered while executing com.zenjava:javafx-maven-plugin:2.0:jar: java.lang.NoSuchMethodError: com.sun.javafx.tools.packager.Log.set

[2014-08-20 18:37] kalkin opened #70 "java.io.IOException: No space left on device"
Hi,

just wanted to notice that you need a /tmp on your linux system to be big enough to fit the whole jre during `jfx:native`. You should perhaps document it some where. I thought the the whole build process is hapening in my project

[2014-09-06 15:57] #69 closed, assigned to nobody

[2014-09-08 13:47] aalmiray opened #73 "Version 8.1.2 requires JDK8u20 or it fails"
This is the same issue as gradle-javafx-plugin 40 (https://bitbucket.org/shemnon/javafx-gradle/issue/40/).
The following exception appears when attempting to package the application under JDK8u11

    -----------------------------------------------------
    realm =    plugin>com.zenjava:javafx-maven-plugin:8.1.2
    strategy = org.codehaus.plexus.classworlds.strategy.SelfFirstStrategy
    urls[0]

[2014-09-09 14:02] sothawo opened #74 "windows binary need msvcp100.dll, contains msvcr100.dll"
Hi, I'm using your plugin to build native apps, it works on the Mac, but on Windows I have a problem. I am using the following versions:
JDK 1.8.0_20
javafx-maven-plugin 8.1.2
Windows 8.1 64bit
Inno Setup 5.5.5
WIX 3.8

mvn clean jfx:native creates both the exe and the msi, but on installing the exe or when trying to run the installed mdi, I get a message that the program cannot be started because

[2014-10-06 14:31] RobzInadE opened #75 "Specify Installation directory for native installation"
Hey!

I've been using this JavaFX plugin for a while now. It's great.

I have a question tho;
Is there any way I can allow the user to select where to install the native Windows program that you can build with jfx:native? Right now it puts it under the users home directory/AppData/Local/app

Also, is there any way to specify where files created by java (classpath) is stored after installation?

Re

[2014-10-27 08:55] hawkxu opened #77 "The javafx-maven-plugin has upgraded to 8.1.2, please upgrade javafx-basic-archetype"
The javafx-maven-plugin has upgraded to 8.1.2, but the javafx-basic-archetype was 2.1.0 with javafx-maven-plugin 2.0 yet, please upgrade it, thanks!

[2014-11-11 22:36] derdon opened #78 "Adding JavaFX to classpath fails"
Hello,
attempting to include JavaFX in the JDK classpath fails with a PluginResolutionException: https://bpaste.net/show/3098798996c3. Is this a bug of the project or did I do something wrong? I'm using Debian GNU/Linux and `java -version` says:

`java version "1.7.0_65"
OpenJDK Runtime Environment (IcedTea 2.5.3) (7u71-2.5.3-1+b1)
OpenJDK 64-Bit Server VM (build 24.65-b04, mixed mode)`

`mvn -ver

[2014-11-12 01:32] #78 closed, assigned to nobody

[2014-12-01 15:31] aliebelt opened #79 "Specify JRE Path for native bundling"
Hi,

we want to create two different native installers: for Windows 32 Bit and 64 Bit.
We use JDK 8u25 with Inno Setup for EXE creation.

Our JAVA_HOME contains "C:\jdk\jdk_8u25_64bit". The Installer is created correctly with this JDK for 64 bit Windows. But currently we see no possibility to switch to "C:\jdk\jdk_8u25_32bit" during the maven build process to create a second installer for 32 bit W

[2014-12-02 06:33] Anvay-webonise opened #80 "Preloader is not working with 8.1.2 plugin."
we are using preloader for splash screen and its working perfectly fine with 2.0 plugin(with java 7) now with 8.1.2 (java 8) its not working.
.msi gets generated but splash screen is not working.

[2014-12-03 09:23] aliebelt opened #81 "Ability to create a 32-bit native Windows installer in a 64-bit Maven build process JVM (and vice versa)"
Hi,

we want to create two different native installers in one Maven build process: for Windows 64-bit and 32-bit. We execute Maven with a 64-bit JRE.

So we have two executions for the javafx-maven-plugin, one with a 64-bit JRE-path specified as runtime and one execution with a 32-bit JRE-path.

The 64-bit installer is created unproblematically, but when building the 32-bit installer following war

[2014-12-03 11:30] aliebelt opened #82 "Plugin Execution Configuration is not working"
Hi,

we want to have different configurations for different executions of the javafx-maven-plugin. But it seems that the plugin doesn't use the execution configuration, e.g.:
[code]
Results in:
[code]

[2014-12-18 07:45] liudonghua123 opened #83 "how to copy external resources to native/{project_name}/app directory"
Hello,
This plugin is great, but one problem I encountered is I couldn't copy the external resources directory under my project root folder to "target/jfx/native/{project_name}/app" when I run "mvn clean jfx:native", I have tried copy-resources plugin, but it's not work.
Below is some pieces of my pom.xml configuration.

	<properties>
		<project.build.sourceEncoding>UTF-8</project.build.sourceEnco

[2015-01-03 16:46] FibreFoX commented on #80
I came across this issue myself, but **its not an issue of this maven-plugin**, its more a problem with the generated exe-file (which comes from javafxpackager). The problem is, as far as i understood the discussion, known but not really dealt with:
http://mail.openjdk.java.net/pipermail/openjfx-dev/2014-January/012296.html

But there is another thing i am confused with: when using ```mvn jfx:run`

[2015-01-09 18:09] FibreFoX commented on #81
Found some things on the net:
http://docs.oracle.com/javase/8/docs/technotes/tools/windows/javapackager.html#BGBDJIGE
http://docs.oracle.com/javase/8/docs/technotes/tools/unix/javafxpackager.html
http://stackoverflow.com/questions/24025309/javafxpackager-how-do-you-set-the-base-jdk

If I understand correctly, this should create a 32/64-bit installer depending in the selected JRE by using `<jvmArgs

[2015-01-10 13:58] metlaivan opened #86 "How add Permissions: all-permissions to manifest"
How add Permissions: all-permissions to manifest. My pom:
[code]
after I execute "mvn jfx:web"
in generated jar i did not found "Permissions: all-permissions"

[2015-01-10 14:14] FibreFoX commented on #86
As far as i can see, it should work as you wrote:
https://github.com/zonski/javafx-maven-plugin/blob/master/src/main/java/com/zenjava/javafx/maven/plugin/WebMojo.java#L191

But it seems you are missing the keyStore with your configuration.

[2015-01-10 14:24] metlaivan commented on #86
I added keyStore but did not found "Permissions: all-permissions" in my jar manifest.

[2015-01-11 12:58] maxd commented on #86
Seems like this property [isn't using](https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/sun/javafx/tools/packager/DeployParams.java#L219) anymore.

Try to modify manifest file use `maven-jar-plugin` [plugin](http://maven.apache.org/shared/maven-archiver/examples/manifestEntries.html). Let us know if it will works.

[2015-01-13 18:37] frankred opened #87 "mvn com.zenjava:javafx-maven-plugin:2.0:fix-classpath [ERROR]"
Doing the following command ```mvn com.zenjava:javafx-maven-plugin:2.0:fix-classpath```

And getting this error log.  JAVA_HOME is set. JDK version 1.8.0_25 | Ran as ADMIN

[code]

System Windows8

[2015-01-13 23:54] maxd commented on #87
JavaFX since 1.8.0 [doesn't requires](https://github.com/zonski/javafx-maven-plugin/commit/589ef652beb3382f1646296034d0f344322d1487) fix-classpath.

[2015-01-15 20:10] frankred commented on #87
thx

[2015-01-17 01:23] FibreFoX commented on #82
The problem are the used maven-mojo-annotation, with my PR 88 multiple executions should work.

[2015-01-17 01:24] FibreFoX commented on #83
My pull-request is NOT fixing this issue, im sorry to create any confusions.

What are you trying to put into the generated folders? Normally all resources should be transfered into the jar itself.

[2015-01-17 01:37] FibreFoX commented on #87
Current version of this plugin is 8.1.2, which does not include that fix anymore, therefore this issue can be closed.

[2015-01-18 20:52] frankred opened #89 "Native Installer - Let the user define installation path"
I just created a native installer from my JavaFX application. Is there somehow a way to let the user setup the installation directory during the installation process?

[2015-01-18 21:29] maxd commented on #89
No, you can't do it with javafx-maven-plugin. [Here](http://docs.oracle.com/javafx/2/deployment/self-contained-packaging.htm#sthref54) is described functionality of MSI installer. As you can see it doesn't have any UI except form with progress bar.

But you can replace WIX (or Inno) installer project to own as described in section [Section 6.3.3, "Customization Using Drop-In Resources."](http://do

[2015-01-19 11:04] FibreFoX commented on #89
As far as i get the functionality here, **it should be possible** to use your own ".iss" or ".wxs"-file (for windows-natives). If you use verbose output, there should be the path to the generated setup-files used for native-generation. Just put these generated files into the specific "src/main/deploy/package/" sub-folder and customize them, it works the same way it is used for having your own icon

[2015-01-19 14:32] frankred commented on #89
Thanks, I will investigate!

[2015-01-29 09:37] ssaring commented on #55
I would also vote for the solution from @tsbatista . Currently it's impossible to add license files, the installer always fails.

[2015-02-10 11:39] FibreFoX commented on #89
@frankred do you have any feedback on this issue?

[2015-02-10 12:33] frankred commented on #89
No sorry

[2015-03-03 17:48] javasparx commented on #59
you right man, thank you.

[2015-03-07 17:46] emont01 commented on #32
I hope this helps anyone still having this problem,here is an example of how to specify the correct mojo-executor version taken from [stackoverflow answer](https://stackoverflow.com/a/20501951/606826):

[code]

[2015-04-02 02:28] kishaningithub opened #90 "Version mismatch"
In maven central http://search.maven.org/#search|ga|1|com.zenjava
the version is 8.1.2 whereas in git hub repo and your site
http://zenjava.com/javafx/maven/basic-config.html the version is
2.0.

Kindly update all your docs and may be include a section for java 8
if its ok.

[2015-04-02 13:51] maxd opened #92 "Copy-paste for userJvmArgs"
Hi,

Seems like [this](https://github.com/zonski/javafx-maven-plugin/blob/10273c9f46d9693ff27b3e7246698b995e4c03a8/src/main/java/com/zenjava/javafx/maven/plugin/NativeMojo.java#L234-L236) lines has been copy-pasted from [here](https://github.com/zonski/javafx-maven-plugin/blob/10273c9f46d9693ff27b3e7246698b995e4c03a8/src/main/java/com/zenjava/javafx/maven/plugin/NativeMojo.java#L218-L220). So, the

[2015-04-02 15:04] FibreFoX commented on #90
Documentation is very outdated, but I don't know if @shemnon (the new "maintainer" of this plugin, as stated [here](http://speling.shemnon.com//blog/2014/09/12/maven-javafx-plugin-8-dot-1-released/)  ) has access to that page. There are some pull-requests too which aren't commented or anything.

(yes, it feels a bit abandoned right now)

[2015-04-02 15:39] TapaniRundgren commented on #86
Added following into JarMojo execute() method to get it working
...
        Map<String, String> manifestAttributes = new HashMap();
        manifestAttributes.put("Permissions", "all-permissions");
        createJarParams.setManifestAttrs(manifestAttributes);
...

[2015-04-07 19:19] reccej opened #93 "invalid path to javafx-packager when mvn clean jfx:jar"
Attached is a picture of the error I'm getting:
![2015-04-07 error1](https://cloud.githubusercontent.com/assets/5385495/7031195/63455fbe-dd2f-11e4-903b-7961b19c8a51.png)

I'm running the command on a Windows machine, so it's bizarre that it's searching a directory with forward slashes. I get the same error when I try to get JavaFX on the classpath (which it should be already anyway).

Building in

[2015-04-07 19:30] maxd commented on #93
Seems like you are using JRE instead of JDK or path inside `$JAVA_HOME` variable target to JRE. Required output of `mvn -version` to investigate problem (please inset this as code block).

[2015-04-07 20:07] reccej commented on #93
Sorry, not used to windows command line; took me a sad amount of time to figure out copy and paste. This is what I got:

[code]

Looks like your hunch was right. I changed the path to the JDK and everything appears to be working. Thanks for the help!

[2015-04-07 20:07] #93 closed

[2015-04-09 22:06] reccej opened #95 "Unable to load jar manifest (dependencies need JavaFX but target project doesn't)"
Hey,

I had a dumb question a day or two ago but it's leading me to this problem: I keep getting "unable to load jar manifest" errors when attempting to run the jar executable.

The project I am deploying (Project A) does not use any JavaFX methods in itself, but it references a local Maven dependency that does (Project B). I've tried having project B as a dependency, building project B as a javaf

[2015-04-17 12:37] longweiquan commented on #18
Hello, I use the version 8.1.2 and I try to pass some command line arguments like this, but it doesn't work, could you help me ?

<configuration>
       <jvmArgs>
               <jvmArg>-Dspring.profiles.active=prod</jvmArg>
        </jvmArgs>
</configuration>

[2015-04-17 14:03] maxd commented on #18
How are you decided that this doesn't work?

[2015-04-17 15:13] longweiquan commented on #18
In the static main method, I try to log the "args" parameters and I get nothing. I have the maven configuration set as last command and launch the application by maven

[code]

[code]

[2015-04-17 23:38] maxd commented on #18
`jvmArg` - command line arguments for JVM, not for application. You should use `userJvmArgs` but it has been broken (see #92).

[2015-04-21 10:41] FibreFoX commented on #77
This will get updated as soon as these projects are transfered. Stay tuned ;)

[2015-04-21 10:43] FibreFoX commented on #90
I'm closing this, because we are updating the plugin and are preparing for a new website.

[2015-04-21 10:43] #90 closed

[2015-04-21 10:54] FibreFoX commented on #95
Could you provide an example-project? I'm not quite sure about your setup ;) code would be better than words in situations like this.

[2015-04-21 11:17] #87 closed

[2015-04-21 11:19] FibreFoX commented on #82
Just for information: i'm preparing to merge my fix in the next days. Multiple executions will be supported with the next version.

[2015-04-21 12:20] FibreFoX commented on #55
May be fixed with PR https://github.com/javafx-maven-plugin/javafx-maven-plugin/pull/84

[2015-04-21 12:47] FibreFoX commented on #63
Hi, could you clarify your question? I'm unsure what you are asking for.

[2015-04-21 12:52] FibreFoX commented on #35
Already fixed with PR https://github.com/javafx-maven-plugin/javafx-maven-plugin/pull/37

[2015-04-21 12:52] #35 closed

[2015-04-21 12:53] FibreFoX commented on #34
Fixed with PR https://github.com/javafx-maven-plugin/javafx-maven-plugin/pull/36

[2015-04-21 12:53] #34 closed

[2015-04-21 17:56] FibreFoX commented on #45
Looks like a bug between javafx and maven: https://community.oracle.com/thread/2583350
Maybe related to #44

[2015-04-21 17:56] #45 closed

[2015-04-21 17:57] FibreFoX commented on #44
Java 7 is reaching its EOL, and because a solution was found, this bug gets closed (feel free to re-create/re-open this bug as needed).

[2015-04-21 17:57] #44 closed

[2015-04-21 17:58] FibreFoX commented on #32
Closed, because its already merged.

[2015-04-21 17:58] #32 closed

[2015-04-21 18:14] FibreFoX commented on #62
Hi @johnzeringue , have you tried the latest version of javafx-maven-plugin?

Make sure your repository points to ```https://oss.sonatype.org/content/repositories/releases/```, not only to snapshots.
Current version is 8.1.2

[2015-04-21 19:11] johnzeringue commented on #62
I'm no longer using a Maven build script (I've switched to Gradle), so I can't use this anymore. Perhaps this issue should be closed.

[2015-04-21 19:16] #62 closed

[2015-04-23 15:50] FibreFoX commented on #27
```So, can be closed now :-)```

[2015-04-23 15:50] #27 closed

[2015-04-23 15:52] FibreFoX commented on #3
closed, because plugin was reworked and no further feedback was provided (feel free to re-open or create a new issue)

[2015-04-23 15:52] #3 closed

[2015-04-26 09:31] #55 closed

[2015-04-26 10:17] #33 closed

[2015-04-26 10:20] FibreFoX commented on #43
Closed, because no bug of javafx-maven-plugin

[2015-04-26 10:20] #43 closed

[2015-04-26 10:23] #63 closed

[2015-04-26 11:18] FibreFoX commented on #66
Could you try with current master-branch? I've updated internal usage of keytool-maven-plugin, so this should work again.

[2015-04-26 13:46] FibreFoX commented on #25
Closed due to rewritten plugin.

[2015-04-26 13:46] #25 closed

[2015-04-26 14:26] FibreFoX commented on #81
Hi @aliebelt ,

i added support for multiple executions, could you retry with current master if it works for you when setting ```jvmArgs``` to 32bit/64bit JRE?

[2015-04-26 20:53] #92 closed

[2015-04-26 23:53] maxd commented on #82
@FibreFoX  Seems like this PR bring problem. Look at this log of `mvn clean jfx:native` (without useless lines):

[code]

As you can see the some build steps was executed twice (i.e. `proguard-maven-plugin` or `maven-compiler-plugin`). Use `git bisect` I have found a commit caused problem:

[code]

Do you have any ideas how to fix it?

[2015-04-27 08:02] FibreFoX commented on #82
Hm, how is your configuration of that project? ```NativeMojo``` and ```JarMojo``` are depending on jar:package goal, and because of multiple executions this would be called "fresh" for every execution. This is the correct way to depend on other phases, but maybe not as final as we wanting it to be ;)

You could fiddle with ```src/main/resources/META-INF/maven/lifecycle.xml``` to find a better way.

[2015-04-27 08:42] FibreFoX commented on #77
done, but not yet published to maven central.

[2015-04-27 08:42] #77 closed

[2015-04-27 08:42] maxd commented on #82
I don't use "advanced" configuration in my project. It is very similar to base, so you can reproduce problem use the following steps:

1. Create empty JavaFX project:

    `mvn archetype:generate -DarchetypeGroupId=com.zenjava -DarchetypeArtifactId=javafx-basic-archetype -DarchetypeVersion=2.0.1`

1. Build native bundle:

    `mvn jfx:native`

In my case the double execution caused problem with Pr

[2015-04-27 08:47] FibreFoX commented on #82
Hm, i will look into this a bit deeper, maybe i can find a solution fitting all requirements :cry: maybe i can find a solution also fitting to bug #65

[2015-04-27 08:51] maxd commented on #82
ok, at present this problem block release of my project. How about revert this PR and create separate branch with your changes and possible solutions?

[2015-04-27 08:59] FibreFoX commented on #82
You can revert my PR, i am working on my own fork anyway ;) (exactly for this kind of situations) i will create a new PR after finding a proper solution, would be nice, if you could validate that one. As a result, this issue remains open.

[2015-04-27 10:06] aliebelt commented on #81
Hi Danny, I'm wondering how a `jvmArg` can help for a native Windows installer (`self-contained application`)? Because there is a 32 bit OR a 64 bit JRE containted in the installation directory and I don't think that a jvmArg can change something.

[2015-04-27 10:14] aliebelt commented on #81
Do you meen to duplicate the configuration, extract to two excecution statements and change the runtime? Something like that:
[code]

[2015-04-27 10:44] FibreFoX commented on #81
Yes, i had two executions in mind.

[2015-04-27 12:07] aliebelt commented on #81
I executed it with Maven and JDK 8u40 64bit. The 64-bit -configuration builds the native installer. When executing the 32-bit-configuration of the javafx-maven-plugin it is skipped:
[code]
This is likely not a problem of the javafx-maven-plugin but of the com.oracle.tools.packager.windows.WinExeBundler or WinAppBundler itself. There is somewhere a check if the bit-architecture of the executing JRE

[2015-04-27 12:09] aliebelt commented on #81
Have a look at: https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#L197

[2015-04-27 12:26] aliebelt commented on #81
Ok, I added following to my pom and it works! :) Both installers are created (64+32 bit):
[code]
This is because of https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#L192

So: Either the bit-architecture check in WinAppBundler has to be improved or the javafx-maven-plugin should add this system property (maybe trigge

[2015-04-27 12:36] aliebelt commented on #81
Unfortunately the created 32-bit installer (Inno Setup) produces a faulty installation:

It installs under C:\Programms not under C:\Programms (x86)
It is started as an 64-bit application (looked into Windows Task Manager)

When starting the applilcation it says: `Failed to find library *\runtime\bin\client\jvm.dll` then `Failed to find library *\runtime\bin\msvcr100.dll` then `Failed to locate JN

[2015-04-27 12:41] aliebelt commented on #81
This is not a problem of the two plugin executions. It's the same with an "old style" single execution configuration. You should be able to reproduce this problem by running the Maven build with a 64-bit JRE and have a 32-bit JRE declared in the plugin configuration.

[2015-04-27 12:59] kishaningithub opened #102 "Kindly update your "Readme.md""
As per your Readme.md... The last release was Version 2.0 on 1-Jul-2013.

Kindly update docs.

[2015-04-27 13:37] FibreFoX commented on #81
Thanks a lot for the feedback, when having enough time (maybe next two days), i will look into this. Sounds very nice to have this feature!

[2015-04-27 13:42] FibreFoX commented on #102
We are preparing for a new release (no final date yet) and update of README will be included with changelogs ;)

[2015-04-27 14:14] FibreFoX commented on #40
```<vendor>```-tag is filled with project.organisation.name, but description is missing currently. Still valid with version 8.1.2!

[2015-04-27 14:23] FibreFoX commented on #40
same goes for ```<title>```-tag, 'cause it's not implemended.

[2015-04-27 14:30] maxd commented on #40
@FibreFoX These parameters should be defined in `MANIFEST.MF` file. Right?

[2015-04-27 14:44] FibreFoX commented on #40
generated ```.jnlp```-file contains these information too, don't know about manifest.

[2015-04-28 07:26] maxd commented on #82
Yes, sure, I will help with validation this problem.

[2015-04-28 12:02] FibreFoX commented on #46
This bug isn't fully fixed, because the signing-branch does not contain the fix ;) I am working on this, will be included with another PR.

[2015-04-28 12:04] FibreFoX commented on #82
I'm currently preparing a fix for this and some other issues ( #64 and #65 ), I hope to get this into my remote-branch the next two days, maybe a bit sooner. We are mixing some concepts here from mavens lifecycle and "standalone"-execution and it has to get corrected.

[2015-04-29 08:02] FibreFoX commented on #31
the plugin was reworked since this issue, goal is now ```jfx:native```

[2015-04-29 08:02] #31 closed

[2015-04-29 08:05] FibreFoX commented on #46
should be fixed with PR #103 and #106
feel free to re-open when not working

[2015-04-29 08:05] #46 closed

[2015-04-29 15:01] FibreFoX commented on #80
This is closed, because its not handled within javafxpackager/native package app. Showing a splash-screen should be possible, but preloader are capable of more (http://stackoverflow.com/questions/15126210/how-to-use-javafx-preloader-with-stand-alone-application-in-eclipse).

I must admit, this is something very undocumented, but please re-open if you found an working example using native javafxpac

[2015-04-29 15:01] #80 closed

[2015-04-29 18:32] FibreFoX commented on #89
Hi @frankred , i finally had some time for investigation.

First of all, please activate "verbose"-output within your configuration, e.g.:

[code]

Then you have to create your installer once, you will find something like this inside your log-output:
[code]
There you go ... these files should go into ```/src/main/deploy/package/windows```.

When changing destination-folder for **EXE**-installer, y

[2015-04-29 19:48] #102 closed

[2015-04-29 20:35] FibreFoX commented on #65
Hi @rsc1975, when merged, this can be done easily by adding javafx-maven-plugin to the maven-lifecycle. For more information, please have a look into description of pull-request #108

[2015-04-30 08:06] FibreFoX commented on #64
This should be fixed with pullrequest #108, could you retry with current master-branch? Maybe you want to integrate native-generation into maven-lifecycle (will be documented soon).

[2015-04-30 08:06] #65 closed

[2015-04-30 08:06] #82 closed

[2015-05-02 22:08] FibreFoX commented on #86
Confirmed, I hope to have this fixed with upcoming pull-request.

[2015-05-02 22:13] #89 closed

[2015-05-02 22:13] #64 closed

[2015-05-02 22:16] #18 closed

[2015-05-02 22:24] #41 closed, assigned to nobody

[2015-05-02 22:27] FibreFoX commented on #49
Because there is a working solution using another maven-plugin, no additions are needed.

[2015-05-02 22:27] #49 closed

[2015-05-02 22:34] FibreFoX commented on #59
I can't reproduce this anymore, maybe its already fixed with other changes. Please retry with current master and re-open this issue if needed.

[2015-05-02 22:34] #59 closed

[2015-05-02 22:38] FibreFoX commented on #75
Hi @RobzInadE, just for better development-handling: please create multiple issue-reports for each bug you encounter.

After some investigation, I documented this feature in this issue: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/89

[2015-05-02 22:38] #75 closed

[2015-05-02 22:44] FibreFoX commented on #95
Closed due to no feedback provided.

Depending on project which itself is installed as JAR, does not provide any javafx-powers. The created jfx-jar is a special one, not the normal maven-result.

[2015-05-02 22:44] #95 closed

[2015-05-02 22:45] FibreFoX commented on #74
Closed, because it was a javafx-/ packager-bug.

[2015-05-02 22:45] #74 closed

[2015-05-02 22:51] FibreFoX commented on #61
[code]

It works for me.

[2015-05-02 22:51] #61 closed

[2015-05-03 07:59] maxd commented on #74
FYI: It was fixed in JDK 8u40.

[2015-05-03 08:47] FibreFoX commented on #66
Generating keystore with current master-branch and JDK 8u25 now works for me, should be fixed with PR #112.
If no feedback provided until the next days, this issue will be closed as fixed.

[2015-05-03 08:53] FibreFoX commented on #42
This feature is already possible, please take a look into this comment: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/89#issuecomment-97534100

I'm going to prepare a current/fresh documentation for this plugin next week, in hope to avoid this type of questions ;)

[2015-05-03 08:53] #42 closed

[2015-05-03 16:31] #86 closed

[2015-05-03 18:39] FibreFoX commented on #81
I think I found something, could you retry with this configuration:
[code]

[2015-05-03 18:40] FibreFoX commented on #79
Seems to be a dublicate, please have a look at the other issue: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/81#issuecomment-98520400

[2015-05-03 18:40] #79 closed

[2015-05-03 18:48] FibreFoX commented on #19
This gets closed, because plugin was rewritten.

[2015-05-03 18:48] #19 closed

[2015-05-03 19:31] FibreFoX commented on #38
This is closed, because we already have this feature.

[2015-05-03 19:31] #38 closed

[2015-05-04 07:46] aliebelt commented on #38
Ah, cool! Is there a documentation how to use this feature?

[2015-05-04 08:06] aliebelt commented on #79
In my opinion this is no duplicate of #81 because here is the topic simply the style of config. But apart from that: I think a documentation of how to configure a custom JRE is needed. It was quite hard to find out how to realize it. (See three comments above for the solution)

[2015-05-04 09:35] FibreFoX commented on #79
I agree, this does need more documentation. I'll try to fix that in some days.

[2015-05-04 09:37] FibreFoX commented on #38
There isn't a website yet, but I'm working on it. Meanwhile you can see my comment here: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/89#issuecomment-97534100

[2015-05-04 10:35] aliebelt commented on #38
Great, thanks!

[2015-05-04 11:31] aliebelt commented on #81
I tested it. The problem is the same as described above. An 32-bit installer is created without errors but the installer installs a not runnable application.

[2015-05-04 12:09] FibreFoX commented on #81
Could you create a sample project where I can recreate and check this scenario?

[2015-05-04 13:18] aliebelt commented on #81
I created a sample maven project. Download the .png file and rename it to .zip -> The maven project is contained (I don't know how to upload zips to a github comment)
![example-javafx-createinstallerwithcustomjre zip](https://cloud.githubusercontent.com/assets/4987337/7454006/9d394c62-f26f-11e4-9429-89e17213c57d.png)

You have to copy your 32bit JRE and 64bit JRE to a/the directory specified in th

[2015-05-04 13:26] aliebelt commented on #81
To get the error quicker, you can remove the "create-installer-for-windows-64-bit" execution. This will just execute the 32-bit installer creation (within a 64-bit runtime [Maven]).

[2015-05-04 15:45] FibreFoX commented on #81
Confirmed, I will work on this now.

[2015-05-04 17:15] FibreFoX commented on #70
This is the way of the java(fx)packager, not of this plugin. You can change the used path by adjusting your configuration like this:
[code]

[2015-05-04 17:15] #70 closed

[2015-05-04 18:29] FibreFoX commented on #12
It's documented (not in the best place): http://zenjava.com/javafx/maven/basic-config.html

After creation of a new website, this will be documented in a better way.

[2015-05-04 18:29] #12 closed

[2015-05-04 20:54] FibreFoX commented on #81
I'm afraid, but this feature won't be possible, because the javapackager uses native files from within ```lib/ant-javafx.jar``` (inside installed JDK). See here:
https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#L347

I was possible to create a working native bundle, but I had to make some steps manually, which I don

[2015-05-04 20:54] #81 closed

[2015-05-04 21:04] FibreFoX commented on #81
Only solution is to have both versions of the JDK extracted/installed, and you have to override plugin-dependency with your custom path:
[code]

[2015-05-05 01:04] FibreFoX commented on #48
Manifest will be created by bundler itself, not by our plugin, but we were missing to pass custom manifest entries to that bundler. My proposed PR #115 is trying to correct this. This will get merged, if @maxd has reviewed these changes.

[2015-05-05 08:01] aliebelt commented on #81
Ok, thanks for the investigation!

[2015-05-05 08:28] aliebelt commented on #81
To sum it up in my words:
* The bit architecture of the created installer depends on the bit architecture of the JRE which is used by Maven to run the build process (32bit installer only with 32bit JRE and 64bit installer only with 64bit JRE).
* This problem is a deficit of the underlying JDK classes, libraries and executables for installer creation (NOT of the javafx-maven-plugin)

What can we do

[2015-05-05 08:40] aliebelt commented on #81
https://javafx-jira.kenai.com/browse/RT-40718 [Native installers - provide a way to build a 32bit installer with 64bit JDK (and vice versa)]

[2015-05-05 10:39] #48 closed

[2015-05-08 17:25] FibreFoX commented on #66
This is fixed by upgrading used keytool-maven-plugin and other changes. Works for test-project within PR #116

[2015-05-08 17:25] #66 closed

[2015-05-08 17:28] FibreFoX commented on #73
Will be documented with new website within next two weeks (I'm currently working on this).

[2015-05-08 17:28] #73 closed

[2015-05-08 17:28] FibreFoX commented on #7
Will be done with new website within next two weeks (I'm currently working on this).

[2015-05-08 17:28] #7 closed

[2015-05-08 17:28] FibreFoX commented on #60
Will be documented with new website within next two weeks (I'm currently working on this).

[2015-05-08 17:28] #60 closed

[2015-05-08 17:30] FibreFoX commented on #67
Will be documented with new website within next two weeks (I'm currently working on this).

[2015-05-10 12:57] #40 closed

[2015-05-10 19:38] FibreFoX commented on #67
I will close this, because I'm preparing the documentation. All existing issues will be reviewed for FAQ/known-issues.

[2015-05-10 19:38] #67 closed

[2015-05-13 22:32] maxd commented on #83
Seems ok. My LICENSE files was copied to `jfx/app` directory.

[2015-05-13 22:48] #83 closed

[2015-05-24 14:57] marcusadair opened #121 "zenjava.com site is down"
Site is showing spam now.

[2015-05-24 15:04] marcusadair commented on #121
I'd be willing to help convert the content to github wiki if you like.

[2015-05-24 16:23] FibreFoX commented on #121
Site is showing "spam", because @zonski shut it down. We are making progress on transforming the content into nice github-pages. Please stay calm, won't take very long for the new website (but no wiki).

[2015-05-24 16:23] #121 closed

[2015-05-25 19:53] malafeev opened #123 "Broken links on http://zenjava.com/javafx/maven/"
There are several broken links on http://zenjava.com/javafx/maven/
- http://zenjava.com/javafx/maven/basic-config.html
- http://zenjava.com/javafx/maven/native-bundle.html
- http://zenjava.com/javafx/maven/jar-bundle.html

etc

They always open the same page without requested info.

[2015-05-25 19:59] malafeev opened #124 "Native package for Ubuntu doesn't work"
I built native package on Ubuntu using
[code]

But when I execute bundle I get error:
[code]

My pom.xml contains:

[code]

[2015-05-26 07:55] FibreFoX commented on #124
Can you provide a sample-project?
By the way: please use ```mvn jfx:native```

[2015-05-26 09:17] maxd commented on #124
+ required full log of `mvn clean fx:native`. Seems like this is problem related to Maven configuration.

[2015-05-26 09:20] malafeev commented on #124
Misprint: I used  `jfx:native` goal

[2015-05-26 09:29] maxd commented on #124
We get it, but this is don't cause your error.

[2015-05-26 09:30] maxd opened #125 "Add CONTRIBUTING.md to repository"
Need to find appropriate CONTRIBUTING.md where describe our policy related to PRs.

[2015-05-26 10:13] FibreFoX commented on #124
Just for being curious: do you execute the generated ´´´.jar´´´ or the generated ´´´-jfx.jar´´´ ? As far as i can see, this is no bug of javafx-maven-plugin. Please reopen this issue with more details, I will close this as invalid until then.

[2015-05-26 10:17] FibreFoX commented on #123
Doublicate of #121

Please be patient, we work on it. Meanwhile you can take a look at web-archives:
https://web.archive.org/web/20141010065531/http://zenjava.com/javafx/maven/basic-config.html

I will leave this open to have new users finding this more easily.

[2015-06-12 11:27] faustool opened #126 "zenjava.com domain is expired"
When I try to access http://zenjava.com/javafx/maven/, the URL is redirected to http://zenjava.com/?f and a message is displayed in the page bottom saying "Is this expired domain name yours? Find renewal info."

[2015-06-12 11:29] #126 closed

[2015-06-12 18:20] hinerm opened #127 "No way to set fx:platform basedir"
JavaFX has a [fx:platform](https://blogs.oracle.com/talkingjavadeployment/entry/packaging_improvements_in_jdk_7#2) element, where you can set `basedir=""` to allow self-contained apps to launch with system java.

Exposing this in the `javafx-maven-plugin` configuration would be very useful.

[2015-06-12 18:58] ctrueden opened #128 "jfx:native goal does not respect jfxMainAppJarName"
Steps to reproduce:

1.  Generate a sample project:

[code]

2.  Replace the generated `javafx-maven-plugin` configuration with:

[code]

3. Remove the line `<finalName>bar</finalName>`

4.  Try to build:

[code]

5.  App is present, but self-contained application is missing:

[code]

Is this a bug, or am I doing something wrong in the configuration?

[2015-06-12 19:12] maxd commented on #127
Just pass it through `bundleArguments` parameter:

    <bundleArguments>
      ...
      <runtime/>
    </bundleArguments>

[2015-06-12 19:49] maxd commented on #128
Reproduced. Add `.jar` extension to fix problem:

    <jfxMainAppJarName>Fubar.jar</jfxMainAppJarName>

[2015-06-12 20:32] ctrueden commented on #128
Thanks @maxd. Adding the `.jar` suffix does result in generation of the self-contained application. However, I do still see warnings like:
[code]
I.e.: for a `jfxMainAppJarName` of `ImageJ` I put a file `src/main/deploy/package/macosx/ImageJ.icns` and it doesn't pick it up, presumably because it's using the default artifactId-version finalName?

Symptom of the same issue? Or shall I file a separat

[2015-06-15 09:34] FibreFoX commented on #128
Hi @ctrueden,

I think this is no bug, just missing documentation (domain-transfer of zenjava.com takes a bit longer than expected).

Could you try to use this kind of configuration?

[code]

Having ```<verbose>``` set to ```true``` should show you what file got picked. When you want to override these files, please use the same filename as they are required by underlying packager.

[2015-06-15 11:40] hinerm commented on #127
Thanks, this worked for me. I don't see  `bundleArguments` in the archived plugin documentation.. hope it gets sorted out when your site comes back up!

[2015-06-15 11:40] #127 closed

[2015-06-15 16:28] ctrueden commented on #128
@FibreFoX Thanks, I understand that the filename needs to match. See my comment above—the icon file it wants _is_ mentioned: `package/macosx/imagej-2.0.0-rc-31-SNAPSHOT-volume.icns`. However, in that case I had `jfxMainAppJarName` set to `ImageJ`.

The fact that the version string is part of the filename is a no-go because you'd have to rename the file every time you change the POM version. (And y

[2015-06-15 16:50] FibreFoX commented on #128
@ctrueden thanks, I will investigate. I personally don't have access to any macos-running device, maybe it's a fluke within java-packager. Just for being sure: what version of java do you use? (Reminder to myself: for bug-reports we need java- and plugin-versions)

[2015-06-15 16:56] ctrueden commented on #128
@FibreFoX I am on Java 1.8.0_45.

So on Windows and/or Linux, when you follow my recipe above, it works as expected? You get a self-contained application generated?

I did accidentally leave one thing out of my recipe: the `<finalName>` line must be removed from the generated POM as well. Sorry for that!

I tried to dig into the `javafx-maven-plugin` code to fix the issue, but I got confused by th

[2015-06-15 17:01] FibreFoX commented on #128
Just for being curious, did you try current master-branch? We fixed several issues, maybe it's already fixed with other changes? I'll report back if I found something ;) and I WILL find something.

[2015-06-15 17:10] ctrueden commented on #128
@FibreFoX Interesting. On master, the behavior is different. Better, but still not as I would expect:
[code]

So self-contained applications are being built, but `jfx:native` is still not picking up on the `jfxMainAppJarName` as hoped. (And hence the right icon is not chosen, etc.)

[2015-06-15 17:16] FibreFoX commented on #128
Just for being sure: ```jfxMainAppJarName``` is for setting the name of generated ```-jfx.jar```, not the native bundle itself. It has to end with ```.jar```, because otherwise we don't have valid executable or the bundler would refuse to work here.

As it seems, we might have different problems/bugs here:
1. missing icon (probably due to filename)
2. ```jfxMainAppJarName``` not being respected?!

[2015-06-15 17:23] FibreFoX commented on #128
Hi @ctrueden , can you show me what is printed as app-name?
https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/mac/MacDmgBundler.java#L66

This should be reported when having verbose as ```true```

[2015-06-15 18:13] FibreFoX commented on #128
Hi @ctrueden , it fiddled a bit with the javafx-branch of your project. You are setting finalName, this is used as appName, to override this, please use the corresponding configuration-entry ```<appName>```.

Something like this should end up as your configuration:
[code]

[2015-06-16 16:50] ctrueden commented on #128
Thanks for your time investigating this, @FibreFoX. I truly appreciate it.

True, but we only set it in profiles which are not active here. So I do not think that is the issue. In any case, the minimal project I describe above from the archetype also has the issue, without setting `finalName`.

To be clear, all I am looking for here is a way to set the name of the project, such that the version st

[2015-06-16 16:52] ctrueden commented on #128
Just noticed your comments about `<appName>`. We weren't setting that. Trying now!

[2015-06-16 17:04] ctrueden commented on #128
:fireworks: Setting the `<appName>` does the trick! So much back and forth for such a small thing... thanks for your patience!

[2015-06-16 17:09] #128 closed

[2015-06-19 16:53] damnhandy commented on #123
Would it be easier to move those docs in a GotHub wiki under the gh-pages branch? At least everything would be under one roof and it'd be much easier to accept contributions :)

[2015-06-19 18:17] FibreFoX commented on #123
As I said some time ago, we are working on this.

[2015-06-22 09:19] toastedtruth opened #130 "zenjava.com is down"
The documentation & wiki site is offline as the domain has expired. It would be really appreciated if this could be put live again. The plugin is really handy :)

[2015-06-22 09:21] toastedtruth commented on #130
Oops. #123

[2015-06-22 09:21] #130 closed

[2015-07-15 18:27] purringpigeon commented on #89
Hello - I am attempting to do this very thing, however my build will not pick up the iss file in the location src/main/deploy/package/  Is there anything else I need to do to get it to pick it up?  For details: http://stackoverflow.com/questions/31431570/how-to-use-custom-iss-with-javafx-ant-maven-and-inno

[2015-07-15 18:49] FibreFoX commented on #89
Hi @purringpigeon, can you provide any small project we can check on? The linked stackoverflow-article is using antrun instead of javafx-maven-plugin ...

Please open a new issue for this, if the answer provided [here](https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/89#issuecomment-97534100) is not working for you.

[2015-07-15 18:58] purringpigeon commented on #89
Ok I'll give that plug in a shot. I thought that the maven plug in by zen Java was not working on 8u40.

[2015-07-15 19:36] FibreFoX commented on #89
The current master isn't on maven-central, but we are working on this :)

[2015-07-15 20:25] purringpigeon commented on #89
Thanks!  I have downloaded the sources and built them with mvn install.  However I am quite the novice at Maven - how do I use this plug in locally?  Also does the rest of my configuration stay the same?

Thanks

[2015-07-16 06:44] FibreFoX opened #131 "How to migrate from javafx-ant to javafx-maven-plugin"
[As asked](https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/89#issuecomment-121736605) by @purringpigeon we might need to have a small documentation about migrating from javafx-ant-maven configuration to our plugin.

[2015-07-16 13:38] purringpigeon commented on #89
I saw your update to my stackoverflow post.  Thank you.  I am almost there now with your plug in.

    <plugin>
				    <groupId>com.zenjava</groupId>
				    <artifactId>javafx-maven-plugin</artifactId>
				    <version>8.1.3-SNAPSHOT</version>
				    <configuration>
				        <mainClass>org.idahosif.cashreceipt.app.CashReceiptApp</mainClass>
				        <verbose>true</verbose>
				        <bu

[2015-07-16 14:10] FibreFoX commented on #89
You could try the new property ```additionalAppResources```:

[code]

This is not documented yet (please adjust this to your needs), the new plugin version should be available this month.

[2015-07-16 15:19] purringpigeon commented on #89
Thanks!  In order to make this work, I needed to copy my resources to a slightly different folder structure like this:

    ${project.build.directory}/additionalResources/properties

Then in the plug in configuration I did this:

    <additionalAppResources>${project.build.directory}/additionalResources</additionalAppResources>

Worked like a charm!

Thank you.  Looking forward to your updated plu

[2015-07-18 15:42] teefal opened #132 "build appears to fail with "can't find resource" in 8.0_40 and 8.0_51"
A build that works fine in 8.0_25 (running on Mac OSX 10.9.5) will produce this at the end:

[ERROR] Failed to execute goal com.zenjava:javafx-maven-plugin:8.1.2:native (default-cli) on project tidepool: An error occurred while generating native deployment bundles: Can't find resource for bundle java.util.PropertyResourceBundle, key message.running-script -> [Help 1]

Strange thing is that the DMG

[2015-07-18 15:45] teefal commented on #132
Full output:

[INFO] Building JavaFX JAR for application
[INFO] Adding 'deploy' directory to Mojo classpath: /Users/immuexa/projects/tidepool/src/main/deploy
[INFO]
[INFO] <<< javafx-maven-plugin:8.1.2:native (default-cli) @ tidepool <<<
[INFO]
[INFO] --- javafx-maven-plugin:8.1.2:native (default-cli) @ tidepool ---
[INFO] Building Native Installers
/Users/immuexa/projects/tidepool/target/jfx/app/

[2015-07-19 20:59] sselvia opened #133 "Image displayed in the OSx PKG Installer"
What image file name is used for the PKG image in the installer?  I would like to not have the native Java image.

![pkgimage](https://cloud.githubusercontent.com/assets/3527730/8767824/3094da46-2e37-11e5-8e9e-40ed5e631a54.png)

[2015-07-20 11:01] FibreFoX commented on #132
Could you please try with current master-branch? Just checkout this repository and build locally ```mvn install```, change the version-tag within your project to 8.1.3-SNAPSHOT.

Could you please check if all files required to sign are existing.

Could you please share your configuration of javafx-maven-plugin?

[2015-07-20 11:03] FibreFoX commented on #133
The javafx-maven-plugin used underlying packager provided by the OS, please check oracle-documentation for this. I assume it's called "background_pkg.png", have a look here: https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/mac/MacPkgBundler.java#L65

[2015-07-20 11:03] #133 closed

[2015-07-20 15:14] sselvia commented on #133
I turned on verbose and dived into the /var folder structure last night. I did not have a chance to update the issue. The file name needs to be the application name plus -background.png

Thanks,

Scott

Sent from my iPhone

[2015-07-23 21:31] purringpigeon opened #134 "Release Timeline?"
Hello,

Was wondering when this SNAPSHOT release will make it to a full release, so that we can begin to use it in our project?  While using a local plugin works for POC, it would be much better for us to be on the current released version.

Also - where can I find the documentation, since zenjava seems to be offline.

Thanks!

[2015-07-24 21:54] FibreFoX commented on #134
Version 8.1.3 got released some minutes ago, please be patient for the new plugin getting available via maven-central.

[2015-07-24 21:54] #134 closed

[2015-07-24 21:55] #132 closed

[2015-07-24 22:01] purringpigeon commented on #134
Great!

Thank you!

On Jul 24, 2015, at 3:54 PM, Danny Althoff <notifications@github.com> wrote:

Version 8.1.3 got released some minutes ago, please be patient for the new plugin getting available via maven-central.

—
Reply to this email directly or view it on GitHub.

[2015-07-26 22:00] sselvia opened #136 "Correct Maven Parameters to set userJvmArgs, when set the App won't start"
What is the correct way to set the userJvmArgs and/or jvmProperties, when I set the userJvmArgs as shown below the generated application won't start in Mac OSx.  When I set the jvmProperties as shown below the application will start but the property is not set.  I'm using 8.1.3 Snapshot with JDK 1.8 update 60.  I'm having to use update 60 because of a TableView refresh issue that is resolved in up

[2015-07-27 06:55] FibreFoX commented on #136
Did you try this?
[code]

Meanwhile you can drop the "-SNAPSHOT"-part, because we are on current master on maven-central ;)

[2015-07-27 12:14] kishaningithub commented on #123
When can we expect this documentation?

[2015-07-27 12:37] sselvia commented on #136
I just tried your suggestion and it did not work, I also removed the -SNAPSHOT, attached is the POM.  The non-commented jvmArgs worked however, when I used the userJvmArgs the application would not start.  I’m creating a test project so you can have the complete project for your testing, I’m also having a problem using the Mac App Store PKG application after it is installed.  In my code I use a Di

[2015-07-27 12:52] FibreFoX commented on #123
As this is a spare-time project, where normal-life and business-life is ruling over the time left for this project, please be patient. As mentioned on the readme-file (which was updated some days before), you can use the archived site until its available from zenjava again.

https://web.archive.org/web/20141009064442/http://zenjava.com/javafx/maven/

[2015-07-27 12:53] FibreFoX commented on #136
That would be wonderful, thank you, maybe it's some "obvious" misconfiguration I'm currently missing to see ;)

[2015-07-27 14:32] purringpigeon commented on #136
Hello,  I am attempting to use this plug in from Maven Central and am getting the following error:

[ERROR] Plugin com.zenjava:javafx-maven-plugin:8.1.3 or one of its dependencies could not be resolved: Failure to find com.zenjava:javafx-maven-plugin:jar:8.1.3 in http://maven.repository.redhat.com/techpreview/all/ was cached in the local repository, resolution will not be reattempted until the upd

[2015-07-27 14:53] purringpigeon commented on #136
Hello - I tried posting this but it seems to have disappeared.  Trying to use the new plugin I am getting this error: [ERROR] Plugin com.zenjava:javafx-maven-plugin:8.1.3 or one of its dependencies could not be resolved: Failure to find com.zenjava:javafx-maven-plugin:jar:8.1.3 in http://repo.maven.apache.org/maven2 was cached in the local repository, resolution will not be reattempted until the u

[2015-07-27 15:07] sselvia commented on #136
I don't know why but when I created my test project I had to declares the maven dependency for 8.1.3

Pom file will follow when I am not traveling

I hope this helps

Sent from my iPhone

[2015-07-27 15:10] FibreFoX commented on #136
@purringpigeon please dont hook into issues where your issue is not the same! i deleted that post ! Create a separate issue-ticket instead posting to non-relevant issues.

[2015-07-27 15:13] purringpigeon commented on #136
Thank you - sorry for tacking on to the previous issue... Thought they were related.

[2015-07-27 16:06] purringpigeon opened #137 "Is there any support for multi module builds?"
I have successfully moved to your latest build with my simple, single project pom.xml.  Works great.

I am attempting now to apply these principles to a multi module project for code separation, etc.  I am running into issues packaging with the plug in.  Here is my pom.xml from the master project:

    <project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-i

[2015-07-27 17:51] FibreFoX commented on #136
@sselvia how to you access to the userJvmArgs?

The ```<jvmProperties>``` option is just a convenient way to not have to write "-D" before your parameters, e.g. this

[code]

is equivalent to
[code]

I've never used them before, but currently I'm not able to access userJvmArgs myself under windows, but I will investigate this a bit more (and search for documentation in the official javafx-manuals)

[2015-07-27 18:42] FibreFoX commented on #137
You are using this plugin wrong, please look at your packaging: it's POM. Only JAR-projects can be used here. Would be the same as using javafxpackager via ANT, you have to be at the project you are building your jar.

You have to specify the plugin at pom.xml from the GUI-application.

[2015-07-27 18:42] #137 closed

[2015-07-27 18:46] FibreFoX commented on #136
As stated on the [official oracle documentation](https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/jvm_options_api.html), access to userJvmArgs requires one ugly dependency:

Never used it myself, but I hope this helped a bit. This will be documented on the upcoming website I'm working on (yes, I know ... a lot of patience is required, sorry for this)

[2015-07-27 19:00] sselvia commented on #136
I access the command parameters in the main of my application class. I'm making an example maven javafx app as a small example. I'm just tied up with another problem.

However it sounds like you have the same issue.

I'll try and get my example project posted tonight

Thanks

Scott

Sent from my iPhone

[2015-07-27 19:05] sselvia commented on #136
No problem, I'm also trying to find a solution why my Mac javafx crashes when I use the file or directory chooser. The pkg is signed properly via the packager and the maven plugin.

Any good examples for Mac sandbox and directory/file access?

Sent from my iPhone

[2015-07-27 20:41] purringpigeon commented on #137
Thank you - appreciate the pointer.  Do you have any documentation you could point me to on how to accomplish this?  I have moved it as you state, but seem to have other issues with it.  Like I mentioned before, I am pretty new to maven, and am having a bit of a learning curve getting this all set up.  I looked through the documentation but couldn't see how to make it work, like the standard ant b

[2015-07-27 20:50] FibreFoX commented on #137
When building you could move the plugin into the module ```<module>javafx-mstech-viewer</module>```, all other dependencies are build before, so when you are using maven-lifecycle via two executions "build-jar", "build-native" you should archive your wanted result.

[2015-07-27 21:10] purringpigeon commented on #137
I had an error in my POM set up, which I have corrected (I think) - there are three actually 4 modules, and the plug in is on the 4th which has the dependency on the other three (i.e. the one with the JavaFX Application class).

However, the installer generates the following cfg file in this case:

app.runtime=$APPDIR\runtime
app.mainjar=lib\javafx-workspace-framework-0.0.1-SNAPSHOT.jar
app.versio

[2015-07-27 21:33] purringpigeon commented on #137
I cleaned it up a little more, and got it working.  Thanks for the help!

[2015-07-28 12:38] FibreFoX commented on #136
I created a small PR #138 for adding packager.jar to libs-folder, but to get it, you have to declare some system-scoped dependency, like this:

[code]

Could you try it with that patch? (you will have to build the plugin from my fork/branch/PR)

Given you have this as configuration fo the javafx-maven-plugin:
[code]

This is some code to access these parameters:
[code]

[2015-07-28 12:55] sselvia commented on #136
Certainly, I will get it tested today

Sent from my iPhone

[2015-07-28 12:56] sselvia commented on #136
Ps thanks!!!

Sent from my iPhone

[2015-07-28 17:36] FibreFoX commented on #136
Hi @sselvia, there are two ways for accessing arguments:

within main-method:
[code]

within javafx-thread:
[code]

[2015-07-29 13:17] purringpigeon opened #140 "What is the proper use of nativeReleaseVersion"
Hello,

I have placed my app.iss file into src/main/deploy/package/windows so that I can customize the settings of the generated installer.  (Main reason I moved to the zen java plug in) - but I am having an issue with nativeReleaseVersion  not being properly accessed during the build.

According to the documentation you are providing this as a variable to the build process:

*The release version

[2015-07-29 17:45] FibreFoX commented on #140
https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/src/main/java/com/zenjava/javafx/maven/plugin/NativeMojo.java#L151

Did you try to set `<nativeReleaseVersion>` as `0.0.1` (three digits instead of four)?

[2015-07-29 17:51] purringpigeon commented on #140
Yes I tried it that way first, then noticed that it might be 4 on the INNO site, so I tried that.  It just comes up as blank.

[2015-07-29 18:01] FibreFoX commented on #140
Hm .... interesting, I will investigate this.

[2015-07-29 18:13] FibreFoX commented on #140
I assume you did use your very own file without using generated one (shown via verbose-mode).

The used one by java-packager [can be viewed here](https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/resources/com/oracle/tools/packager/windows/template.iss)

When providing custom installer-file, please take care of the original javapackager/javafxpackager-process, taking a look

[2015-07-29 18:26] purringpigeon commented on #140
In this case I get the correct version number, with the standard defaults. With the version number statically referenced.

However, I would like to fine tune the installer. I was just checking to see if my use of the argument was correct. Just wanted to know if I can use a customized file with dynamic elements provided by the plug in.

On Jul 29, 2015, at 12:13 PM, Danny Althoff <notifications@git

[2015-07-29 18:34] FibreFoX commented on #140
To be clear: this is not the part of javafx-maven-plugin, its the javapackager itself :smile:

All this plugin does, it fills the provided configuration-parameter into a special map and fills them into the packager, if something does not work, it's because the javapackager does not like it.

It is possible to customize your file, but it's not intended to have automated maven-properties inside it.

[2015-07-29 20:23] purringpigeon commented on #140
Thanks - I will give it a shot.  I am looking for the template.iss at the moment, and will see if I can make the needed tweaks to it and let it be generated each time.  If not, we will just update the label with each build in the iss file directly, if we can't set the template to be generic enough for different builds.  Thank you.

[2015-07-29 20:58] FibreFoX commented on #140
If you have further results, would be nice to have that feedback here reported, and if possible ;) close the door/ticket behind you.

[2015-07-29 21:04] purringpigeon commented on #140
Will do - I appreciate your help on this.  It's almost where I need it.  Struggling now with the template.iss - not sure how/where to override it...  But if it doesn't work, I will simply go for manual update to the custom.iss file that I was using before.

[2015-07-29 21:11] FibreFoX commented on #140
Maybe this is a bit hacky, but you could process that file via maven by putting it into generated `<additionalAppResources>`-folder, but you have to put that file into another src-folder :) but should provide all your needs.

That files are processed before the javapackager is called.
https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/src/main/java/com/zenjava/javafx/maven/plug

[2015-07-29 21:11] purringpigeon commented on #140
Thanks!  Will give it a whirl.

[2015-07-29 21:11] #140 closed

[2015-07-30 07:49] FibreFoX commented on #136
Hi @sselvia, any feedback about this?

[2015-07-30 10:48] sselvia commented on #136
Danny,

Sorry but 3 sev 1 issues bogged me down the past two days. They are done and I can test this out today

Scott

Sent from my iPhone

[2015-07-30 14:08] FibreFoX commented on #136
:+1: Don't worry, take all the time you need. It's a phenomenon about bug-reports, sometimes to write any feedback gets forgotten.

[2015-07-30 18:01] sselvia commented on #136
Danny,

At lunch I did implement the dependency, I used JDK 1.8 Update 60 on my Mac:

<dependency>
    <groupId>javafx-packager</groupId>
    <artifactId>packager-jar</artifactId>
    <version>1.8.0_60</version>
    <scope>system</scope>
    <systemPath>${java.home}/../lib/packager.jar</systemPath>
</dependency>

I added your example to my POM

<userJvmArgs>
    <Argument3>someValue3_userJvmArgs</

[2015-07-31 01:49] sselvia commented on #136
Danny,

I have my simple test javafx maven project created, when I use the UserJvmOptionsService I get the following stack trace below.  I’ve attached a zip file of the project, if it does not get to you let me know how to upload the zip

------------------------------------------------------------------------
Building TestPluginUserJVMArgsAppStore 1.0-SNAPSHOT
------------------------------------

[2015-07-31 01:51] sselvia commented on #136
You will have to tell me how to get the test project zip file to you, sending the zip to your mail server did not work

[2015-07-31 06:45] FibreFoX commented on #136
@sselvia Just create a git-repository and publish it on github ;) you could use something like "javafx-maven-plugin-issue-136" as the repo-name. (Normally my mailserver should not refuse any mail. I will check this)

[2015-07-31 09:22] FibreFoX commented on #136
Just being curious about the build-log you provided. Do you run your application via `mvn jfx:run`?

[2015-07-31 10:56] sselvia commented on #136
I did as an additional test but normally I you the Run menu option on the maven project in Netbeans.  When I performed the jfx:run I was hoping to see the command line parameters but did not.

[2015-07-31 10:58] sselvia commented on #136
Sorry for the typo, I use the Run menu option.  It is early in the AM for me

And I’ll create a git repo and send you the link.

Thanks,

Scott

[2015-07-31 12:14] sselvia commented on #136
You should have the file, I renamed the zip to pdf and it was accepted by the gmail server

[2015-07-31 13:51] FibreFoX commented on #136
Please don't send mail-attachements via github, please send it to my mail-adress: fibrefox@dynamicfiles.de

But I would prefer a real github-repository, because it can be found by search-engines, and it's a good way to share your experience with others.

[2015-07-31 13:54] sselvia commented on #136
Ok I'll work on that at lunch

Sent from my iPhone

[2015-07-31 14:22] sselvia commented on #136
Danny,

I had a few minutes to logon from my laptop and get the github project initialized.  Here is the link:  https://github.com/sselvia/javafx-maven-plugin-issue-136 <https://github.com/sselvia/javafx-maven-plugin-issue-136>

Thanks,

Scott

[2015-07-31 15:13] FibreFoX commented on #136
Hi Scott, thank you :) I will start to investigate, but I don't have any mac os device at my side, so my findings are windows-only, anyway that issue is happening on both systems ;) lets see what I will come up with

[2015-07-31 15:30] FibreFoX commented on #136
Hi Scott,

I've made some changes to your project, you can see them in my fork: https://github.com/FibreFoX/javafx-maven-plugin-issue-136/commits/master

The `jvmProperties` should used as described in my previous comments.

Instead having this:
[code]
you have to use this:
[code]

For the problem with normal args, I don't find any problem, they are working for me normally. But I saw something in

[2015-07-31 15:56] sselvia commented on #136
Danny,

Thank you for the feed back, so I understand now that the properties xml element is the key and the content is the value

Regarding the jfx:run that was just a test. I do build the app, dmg, and both pkg's. When I run the app (double click) on my Mac. The app starts and immediately closes. I was hoping the log file would show something but it is not created. So it is aborting prior to the

[2015-07-31 16:28] FibreFoX commented on #136
I uploaded a modified SNAPSHOT-version, please add this repository to get it

[code]

[2015-07-31 17:20] sselvia commented on #136
Will do, thank you for the support

Sent from my iPhone

[2015-08-01 11:40] sselvia commented on #136
Danny,

I did two things I updated my project with your POM changes and I downloaded your git project for the issue.  I’m getting the following error when I try to build the native bundles.  Is there an amount of time it takes for the 8.1.4-SNAPSHOT to be accessible?  I copied the POM at the bottom of the email, I also have the 8.1.4-SNAPSHOT in my repository, is there a new prefix instead of “jfx

[2015-08-02 10:39] FibreFoX commented on #136
Hi Scott,
please checkout [this repository](https://github.com/FibreFoX/javafx-maven-plugin/tree/af56dedfd5445e56896d9f631ccaa9f81a972035) and call `mvn clean install -DskipTests`, after that you should have 8.1.4-SNAPSHOT installed locally with the packagerJAR-feature.

[2015-08-02 11:43] sselvia commented on #136
Will do and thanks for getting back with me on the weekend

[2015-08-02 12:53] FibreFoX commented on #136
No problem, this is a spare-time project for me :+1: so at weekends i have more time to spend than at the other days ;)

[2015-08-03 00:33] sselvia commented on #136
I’m still having a problem with the mac os version of the application.  I installed the 8.1.4-SNAPSHOT plugin and I’ve built your version of the application.  I created a windows 8.1 VM and got everything installed and setup.  When I execute the generated application I’m getting an error when running the code with the packager reference code is not commented out.  I comment out the two lines that

[2015-08-03 06:58] FibreFoX commented on #136
This is correct, it isn't supposed to run from the IDE, mostly because of the javafx-magic oracle is doing here with native launchers/native binaries (and because `packager.jar` isn't loaded per default by the exec-plugin ... I think because it's system-scoped).

The class UserJvmOptionsService resides inside `packager.jar`, it's not part of the normal java(fx)packager-result/build-process, so my

[2015-08-03 13:35] sselvia commented on #136
Danny,

I am not trying to be a pain but here is the app config content and no the packager.jar is not in the list.  Obviously something is not working on the Mac, I’ll check my windows VM later on today.  I also included the maven verbose output, I did comment out the 8.1.4-SNAPSHOT repository since I installed it from the git branch.  Finally I put the POM at the bottom, this is what I checked o

[2015-08-03 15:16] FibreFoX commented on #136
Hi @sselvia, I will add additional debug-info to my PR, the problem seems to be the missing packager.jar (I checked by adding it manually to my generated native build on the first try). Would be nice to have your feedback from the windows-machine.

[2015-08-03 15:45] FibreFoX commented on #136
I've added some debug-lines for the new feature, please [checkout and build this PR](https://github.com/FibreFoX/javafx-maven-plugin/tree/e56a823e9f50f883e5d4359ff0bcd370564ca9ad). Please let `<verbose>` stay on true, to have these lines.

[2015-08-03 15:48] sselvia commented on #136
Danny,

Here is the maven output for my windows build, I also have the cfg below that.  I’ll check out your latest build and try that in about an hour and get you feedback

Thanks,

Scott

--- javafx-maven-plugin:8.1.4-SNAPSHOT:native (default-cli) @ TestPluginUserJVMArgsAppStore ---
Building Native Installers
Add C:\Users\Scott\Documents\NetBeansProjects\javafx-maven-plugin-issue-136\target\jfx\a

[2015-08-03 15:54] FibreFoX commented on #136
Hi scott, i can not find anything about the packager-jar in your build-log, I hope with the new modifications there will be at least one line about packager-jar ;) just make sure to checkout my PR from my own fork of javafx-maven-plugin (I will merge the feature after having a result here).

[2015-08-03 15:55] sselvia commented on #136
that is what I’m doing now

[2015-08-03 16:37] sselvia commented on #136
here is the windows maven build log, the generated app is working now and the logged output from my application has the command line argument

2015-08-03 12:30:55,968 INFO  [main] project.MainApp (my.test.project.MainApp.main(MainApp.java:63)) - MyProperty = true
2015-08-03 12:30:55,968 INFO  [main] project.MainApp (my.test.project.MainApp.main(MainApp.java:64)) - Number of Command Line Arguments

[2015-08-03 16:42] sselvia commented on #136
Danny,

Thanks!!!  It would be nice to run the program and not get the class def not found error.  I tried an experiment with adding the packager.jar as a installed locally maven dependency but then I got a java library path issue.  The packager.jar must be loading a dll or dylib or so from the jvm folder.

[2015-08-03 18:19] FibreFoX commented on #136
Hi @sselvia, I'm glad that your application is now working. I will merge the PR with this plugin-master.

Regarding your problem: netbeans uses exec-maven-plugin, so this remains a configuration-problem for putting compile-dependency, maybe [this SO-link](http://stackoverflow.com/questions/19064535/how-to-set-classpath-for-mvn-execexec) will work out for you.

[2015-08-03 18:24] #136 closed

[2015-08-04 11:12] damnhandy commented on #123
Since the docs are generated using the Maven Site Plugin, have you considered using the [Github Pages](https://pages.github.com/) feature? It's pretty easy to get up an running and it ends up being nicely integrated with your build and deployment process via Maven. The only downside is that the domain changes, but that is a minor issue for those of us just looking for the documentation. I'd be hap

[2015-08-04 11:32] FibreFoX commented on #123
Just short update on this:
* yes, we have considered github-pages feature
* javafx-maven-plugin.github.io will become a new "configuration-generator" powered by github-pages
* zenjava will stay full documentation about the plugin itself, but not by depending on javadoc-comments and will reside on non-github-pages

[2015-08-12 08:47] Lonzak opened #143 "Invalid system link to ant-javafx.jar in the pom.xml"
I got a dependecy problem using the current (8.1.3) version of the plugin. I use it from eclipse which tells me it can not resolve one of its depencies.
The JAVA_HOME path is definied to point to the JDK directory which is e.g.
C:\Program Files\Java\jdk1.8.0_45
Compare: http://docs.oracle.com/cd/E19182-01/820-7851/inst_cli_jdk_javahome_t/index.html

The system path defined in the pom.xml contains

[2015-08-13 19:30] choonchernlim opened #144 "Unable to create DMG"
I'm having difficulty creating a DMG file using this plugin on Mac (Yosemite). It creates both PKG and APP fine, but errors out when trying to create DMG.

Here's my simple config:-

[code]

Somewhere along the printed log, I see this:-

[code]

When I take that array command, strip out the commas and run them directly on Terminal, it creates the DMG just fine.

Can you kindly point out what I'm d

[2015-08-15 05:06] onstottj commented on #123
It seems like one of the best options right now is to look at the source, under src/site/apt.  The documentation is pretty readable there, and is for the latest version of the plugin.

[2015-08-18 12:06] FibreFoX commented on #143
Yes, you are missing something, because `${java.home}` is not JAVA_HOME, it's a system-property, see here: https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html

Maybe it's just a fluke within eclipse?

[2015-08-18 12:16] FibreFoX commented on #144
Hm, nothing so far I can fix, it's inside javapackager itself:
https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/mac/MacDmgBundler.java#L326

Can you try to call `mvn jfx:native` on terminal, and not via your IntelliJ-IDE?

[2015-08-18 12:45] choonchernlim commented on #144
I'm getting the same result by running from Terminal.... here's the full log:-

[code]

[2015-08-18 13:59] FibreFoX commented on #144
I know, it's hard to reconstruct, but could you try to check this via ant?

This plugin just makes a wrapper around the ant-classes, so this might be a problem within javapackager itself, but there is no entry at the [javafx-JIRA](https://bugs.openjdk.java.net/issues/?jql=project%20%3D%20JDK%20AND%20component%20%3D%20deploy%20AND%20Subcomponent%20in%20%28packager%2C%20packager%2C%20packager%29%20A

[2015-08-18 14:37] choonchernlim commented on #144
If I invoke this command directly from Terminal, it works just fine and the DMG gets created:-

[code]

[2015-08-21 12:20] sselvia opened #145 "Cannot build Mac Appstore PKG with Custom Entitlements File"
If you use a custom entitlements file in my package/macosx/<App Name>.entitlements the app store pkg build has the following exception.  I tried just the <App Name>.entitlements and the inherit version as well at the same time with the same results.

cd /Users/scottselvia/sourceCode.workspace/git/Examine-IT/Examine-IT-POM/Examine-IT-Pro; JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_60.jdk/

[2015-08-21 12:26] sselvia commented on #145
Close the Issue, the entitlements file has a <true/> element

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>com.apple.security.app-sandbox</key>
        <key>com.apple.security.files.user-selected.read-write</key>
        <true/>
    </dict>
</plist>

[2015-08-21 12:26] #145 closed

[2015-08-24 07:43] Lonzak commented on #143
It may be a system property but it is defined like that: "Installation directory for Java Runtime Environment (JRE)" HOWEVER the result is the same since this system property points to e.g.  C:\Program Files\Java\jre1.8.0_45
So also in this case the two dots with your path doesn't make sense:
${java.home}/../lib/ant-javafx.jar
would result into
C:\Program Files\Java\lib\ant-javafx.jar and not C:\P

[2015-08-24 10:15] FibreFoX commented on #143
I now do see your point, I will check why this works ;)

[2015-08-24 10:28] FibreFoX commented on #143
When having JAVA_HOME point to the JDK, maven outputs me this:
[code]

The interesting part is this:
`Java home: c:\Program Files\Java\jdk1.8.0_45\jre`
It point's to the JRE inside the JDK, and this is what I want and that I get inside that maven-plugin.

I think Eclipse is selecting the wrong JRE for this, because we need the JDK one, not normal JRE:
http://stackoverflow.com/questions/23975000/ma

[2015-08-24 10:28] #143 closed

[2015-08-24 16:17] FibreFoX commented on #143
Just leaving this here for documentation purpose:
[Stackoverflow: Java_home in Maven](http://stackoverflow.com/questions/15279586/java-home-in-maven)
[Apache issue: Java home output in mvn -v is misleading](https://issues.apache.org/jira/browse/MNG-5756)

[2015-09-04 23:15] hMounir opened #146 "Maven Parent Project"
Hello,
I have a problem regarding on how to use the plugin, I have a maven project with two modules, one that contains the main class, and the other module contains the project code itself,

here's my Parent Pom:-

    <modelVersion>4.0.0</modelVersion>
    <groupId>sampleParent</groupId>
    <artifactId>sampleParent</artifactId>
    <packaging>pom</packaging>
    <version>0.1</version>
    <modul

[2015-09-06 11:57] FibreFoX commented on #146
Parent-pom does not produce any jar-file, this plugin only works on jar-producing projects. duplicate of this: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/137

[2015-09-06 11:57] #146 closed

[2015-09-07 18:03] FibreFoX opened #147 "Prepare/Release of version 8.1.4"
There will be a new version soon, but there have to be some changes committed first.

[2015-09-08 08:36] txtdis opened #148 "Missing plugin for jfx:web and jfx:generate-key-store goals"
Error dump when either goals are executed. In eclipse, missing prefix is 'javafx' while on the command prompt, it's 'jfx'

"...No plugin found for prefix 'javafx' in the current project and in the plugin groups [org.apache.maven.plugins, org.codehaus.mojo] available from the repositories [local (C:\Users\User\.m2\repository), central (https://repo.maven.apache.org/maven2)]..."

[2015-09-10 13:34] FibreFoX commented on #148
Could you provide more details? I assume these are warnings while compiling javafx-maven-plugin, am I right? If so, this is no bug, its intended by the maven-plugin-plugin, there is nothing wrong about it.

Calling `mvn jfx:generate-key-store` only works when having the plugin setup inside your pom.xml

[2015-09-11 15:08] #147 closed

[2015-09-11 15:09] FibreFoX commented on #123
Just to mention, the beta-version of the new github-provided website is available:
http://javafx-maven-plugin.github.io/

[2015-09-11 16:57] FibreFoX commented on #148
This is a problem with eclipse, the prefix is "jfx", not "javafx" (maybe you are using some old version, this was "javafx" in some dated release, but was reverted very fast).

[2015-09-11 16:57] #148 closed

[2015-09-19 20:48] teefal commented on #132
I think it has to do with this:

https://bugs.openjdk.java.net/browse/JDK-8093714

[2015-09-19 20:55] teefal commented on #132
Yes, I can confirm .... I took out my blah-post-image.sh script and it finished building the DMG.

Looks like this bug is fixed in 8_60 though haven't tested.

[2015-09-19 22:43] FibreFoX commented on #132
@teefal thanks a lot for investigation :+1: hopefully this will help others too

[2015-09-19 23:38] sselvia opened #152 "Bundler Arguments not setting OSx Info.plist Settings"
I set these tags in the maven POM for my build, even though these items are set they are not making their way into the generated Info.plist file generated by the JavaFX Packager.

                    <bundleArguments>
                        <LSApplicationCategoryType>public.app-category.business</LSApplicationCategoryType>
                        <CFBundleShortVersionString>2.0.1</CFBundleShortVe

[2015-09-20 11:06] FibreFoX commented on #152
Have you looked if they are picked up by the bundler? We only pass these parameters to the packager, we don't manipulate any generated file.

[2015-09-20 11:10] FibreFoX commented on #152
https://docs.oracle.com/javase/8/docs/technotes/guides/deploy/self-contained-packaging.html
[code]

[2015-09-20 11:26] FibreFoX opened #153 "JDK 9 compatibility"
When JDK 9 is published, we have to change the included dependencies:
[code]
It seems that Maven 3.1 with JDK 9 resolves Java-Home not as with JDK 7/8:

With JDK 9:
[code]

With JDK 8
[code]

[2015-09-20 11:29] FibreFoX commented on #153
Possible solution:
own branch for java 9

[2015-09-20 11:39] sselvia commented on #152
I have verified that those arguments are not reflected in the plist. I posted the issue to the openjfx mailing list.

Does the javafx packager command line show up in the verbose output?  I don't recall seeing it, that would show what is going to the packager

Sent from my iPhone

[2015-09-20 12:02] FibreFoX commented on #152
Could you post the corresponding JIRA-ticket here? Would be good for others to find it here too. :smile:

[2015-09-22 12:27] stelfrich commented on #124
@FibreFoX @maxd: I think, I have a similar / the same issue with the native launcher on Ubuntu 12.04.

The build process doesn't show any errors, deb and rpms are built correctly. I can execute the `*-jfx.jar` using `java -jar vizardous-1.2.1-SNAPSHOT-jfx.jar` without any problems because the main class is properly set in the `*-jfx.jar`. However, executing the launcher shows the following error o

[2015-09-22 12:38] FibreFoX commented on #124
@stelfrich Do you have the possability to create a small project, where we can check this? I would create a dedicated VM with ubuntu to analyse this.

[2015-09-22 12:41] FibreFoX commented on #124
@stelfrich Which OS are you running? 32bit or 64bit?

[2015-09-22 12:41] stelfrich commented on #124
@FibreFoX: 64bit

[2015-09-22 12:42] FibreFoX commented on #124
@stelfrich okay, please create a simple project, I will get back to you after some research, should not be longer than the next two days

[2015-09-22 12:44] Jerady commented on #124
I am facing the same problems since quite a while: "No main class specified".

The app is also launching via "java -jar" and I can see the Main-Class entry in META-INF/MANIFEST.MF points to the right Class (Main-Class: de.jensd.mqttfx.ui.Run) (Ubuntu 14.04 32Bit and 64Bit).

[2015-09-22 12:51] FibreFoX commented on #124
Did you try this with a previous version of java (loke 1.8.0-25 or 1.8.0-40)? Maybe it's something they've changed in their native launcher.

[2015-09-22 12:52] stelfrich commented on #124
@FibreFoX: MWE at https://github.com/stelfrich/javafx-native-mwe

[2015-09-22 12:54] FibreFoX commented on #124
@stelfrich thanks a lot, just to make sure: have you checked, if that project still contains that bug?

[2015-09-22 12:59] stelfrich commented on #124
@FibreFoX: In my current configuration. The error persists. I have a meeting now and will check an older JDK (1.8.0u40) afterwards..

[2015-09-22 13:00] Jerady commented on #124
I think it happened since the change from 1.8.0u20 to 1.8.0u40.

[2015-09-22 14:16] stelfrich commented on #124
I can confirm @Jerady's observation. With 1.8.0u20, 1.8.0u25, and 1.8.0u31 the MWE works fine. The main class is not found (https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/124#issuecomment-142272760) starting with 1.8.0u40..

[2015-09-23 09:51] Jerady commented on #124
any new insights so far?

[2015-09-23 11:49] FibreFoX commented on #124
@Jerady feel free to contribute by creating pull-requests.Currently it seems that they switched from C to C++ which might result in different behaviour, but i will need a bit time to create and compile my own launcher which re-created these scenarios. As this is a project I'm not getting paid for, this might take it's time, so please have patience ;)

[2015-09-23 11:53] Jerady commented on #124
Sure! I was just curious if there is any progress ;-). Clearly you have to take your time! I very much appreciate your efforts, thanks a lot!

[2015-09-23 11:55] FibreFoX commented on #124
As the launcher not being that big, maybe the problem resides inside their used technique to find current path: `/proc/self/exe`

Should be not as hard to check this :) I will report as soon as I find something new here, and if so, I will be report this to the JavaFX-team.

[2015-09-23 14:09] FibreFoX commented on #124
I can confirm the wrong behaviour running Ubuntu 14.04 LTS with oracle-java 1.8.0_60-b27 running in 64bit (within Virtualbox 5.0).

I got this while building, maybe this will give me a clue where to search deeper (in the case it isn't the launcher):
[code]

I'm still analyzing this ;) and dropping my findings here as a nice way to annoy you :smile:

[2015-09-23 14:11] Jerady commented on #124
Great! Go ahead ;-)!

[2015-09-23 14:15] FibreFoX commented on #124
The message appears, because this is not equal ...
https://github.com/Debian/openjfx/blob/585900f340aaa1513b6ef998b1be5023f4eed9f9/modules/fxpackager/src/main/java/com/oracle/tools/packager/StandardBundlerParam.java#L609

Will seach deeper (maybe we have to fill just another field?)

[2015-09-23 14:39] FibreFoX commented on #124
This is the line, I have to check, why it's failing:
https://github.com/Debian/openjfx/blob/585900f340aaa1513b6ef998b1be5023f4eed9f9/modules/fxpackager/src/main/java/com/oracle/tools/packager/StandardBundlerParam.java#L611

the other line is for legacy-manifest-attributes, as far as I understood
http://mail.openjdk.java.net/pipermail/core-libs-dev/2012-November/012382.html

[2015-09-23 15:25] FibreFoX commented on #124
The errors are misleading, because all JARs are scanned for a main-method ...

I tried it with my own project (private one, sry), but there it worked flawlessly ... maybe it's when having more than one main-method?! I'll try to strip down the project from @stelfrich ... maybe it's a conflict with one of these jars.

[2015-09-23 15:57] FibreFoX commented on #124
@Jerady  @stelfrich
I realized something today *turns-on-southpark-music*:
The main-class of the project is no javafx-application ;) having a main-method is not sufficient, but thats not the source of the problem.

The crazy part I found out: please change the configuration-parameter `appName` to something simpler, like this `<appName>iAmWorking</appName>`.

I think it has something todo with the

[2015-09-23 16:14] FibreFoX commented on #124
hm .... `/proc/self/exe` seems to work normal, ... I think I'll have to create a bug-ticket at the oracle-JIRA.

[2015-09-23 16:16] stelfrich commented on #124
Woooot? Could you hear my jaw dropping? The simpler appName fixes the problem in the main project..

[2015-09-23 16:18] stelfrich commented on #124
The question remains: how simple is simple? No dashes in the `appName`? Have you gained any insights on that @FibreFoX?

[2015-09-23 16:40] FibreFoX commented on #124
Nope, I'm still working on it, but it takes some time, because I'm "working" mobile now ;) I'll get back with more informationen in some hours.

[2015-09-23 17:09] FibreFoX commented on #124
Okay, I've finished my investigation, it has to do something with the DOT within the filename, it seems that the `.cfg`-file is not found by the `libpackager.so` (aka the loading library).

To make it clear to everyone else: IT'S NOT A BUG OF JAVAFX-MAVEN-PLUGIN, it's inside the JDK.

[2015-09-23 17:59] Jerady commented on #124
Brat mir einer 'nen Storch! That's it! Thank you so much for investigation!
Until this issue is fixed in the JDK its ok to remove the "." in MQTT.fx ;-)

[2015-09-23 18:01] FibreFoX commented on #124
After further investigation, i can confirm this bug even more and it seems something broken within getting the proper filename, reproduced with this:
* generating project with simple appName `iAmWorking`
* renamig generated launcher to something like `iAmNot.Working`
* launching application will fail
* renaming generated `.cfg`-file to `iAmNot.cfg`
* launching application succeeds

It's something

[2015-09-23 18:13] FibreFoX commented on #124
@Jerady I took a peak into mqtt.fx, and a lot of ubuntu-bugs should get closed after this finally being fixed, something like this: https://bitbucket.org/Jerady/mqtt-fx-client/issues/40/ubuntu-1404-launcher-is-not-working

[2015-09-23 18:57] Jerady commented on #124
Indeed, that's why I am so happy its "fixed". Some people waiting for this since month!
I know some guys at Oracle to file this bug but I guess since they handed all over to openjfx Oracle will not take action here. "OSS so fix your own". Anyway I will get in touch with them.

[2015-09-23 19:24] FibreFoX commented on #124
@Jerady thanks a lot, would really help :) i felt a bit guilty not being able to help you when you e-mailed me, but finally we nailed this nasty piece down to the JDK itself :smile:

In the meantime, i will consider working on a workaround (by renaming that `.cfg`-file ... just have to look for the correct time within the build-phase).

[2015-09-23 19:35] FibreFoX commented on #124
Thats funny:
https://wiki.openjdk.java.net/display/OpenJFX/Submitting+a+Bug+Report
[code]

[2015-09-23 20:12] Jerady commented on #124
See! Oracle handed all over!

[2015-09-23 21:12] FibreFoX commented on #124
@Jerady  @stelfrich
I have pushed a SNAPSHOT-version which renames the created `.cfg`-file for linux-launcher, could you give it a try?

Please add this to your pom.xml
[code]

And make sure to use version `8.1.5-SNAPSHOT`

[2015-09-23 21:33] FibreFoX commented on #124
The workaround makes it possible to leave your projects unchanged, just having a "wrong name" of the metadata shouldn't destroy your applications ;)

[2015-09-24 05:52] stelfrich commented on #124
@FibreFoX: Thanks for the quick fix! I can confirm, that the SNAPSHOT version fixes the problem, although I don't completely understand why: the name of the generated config is in my case `vizardous-1.2.cfg`..

[2015-09-24 06:58] FibreFoX commented on #124
@stelfrich it is very simple, let me explain it to you:

Platform "Windows":
* generated launcher: `i-am.working.exe`
* launcher-algorithm extracts the extension and now searches for **`i-am.working`**`.cfg`

Platform "Linux":
* generated launcher: `i-am.working.1.2.0-SNAPSHOT`
* launcher-algorithm extracts the "extension" (a concept not known in linux-space for executables) and now searches for *

[2015-09-24 07:05] Jerady commented on #124
#Works!
Again: thanks a lot for your effort!
8.1.5 should be released soon ;-)

[2015-09-24 07:10] FibreFoX commented on #124
@Jerady  @stelfrich  @malafeev
I am working on this and will release a new version today, so if everything works, you should be able to use the new 8.1.5-release tonight/tomorrow. Still have to do some work on disabling this feature, and creating a new IT-project for linux-systems only.

[2015-09-24 07:13] Jerady commented on #124
Awesome!

[2015-09-24 08:03] stelfrich commented on #124
Nice! :+1:

[2015-09-24 09:15] FibreFoX commented on #124
IT-projects and disable-flag are merged, I will close this issue when new version got uploaded to Sonatype

[2015-09-24 09:27] FibreFoX commented on #124
New version got released on sonatype, it's just a matter of hours to be propagated to maven-central (as always/normal).

[2015-09-24 09:27] #124 closed

[2015-09-24 12:08] FibreFoX commented on #124
just filed a bug at oracle  ... let us see where this ends :smile:

[2015-09-24 12:09] Jerady commented on #124
I bet they will reject it with the "openjdk" hint!

[2015-09-24 12:10] FibreFoX commented on #124
The good part: it's the packager, which isn't just a javafx-part anymore. Even the filename was renamed from "javafxpackager" to "javapackager" :D

[2015-09-24 12:11] Jerady commented on #124
true. lets sit and wait. At least you provides a solution for the rest of us ;-)

[2015-09-24 12:54] FibreFoX commented on #153
I have created a new branch for this, but has to wait until Java 9 is released

https://github.com/FibreFoX/javafx-maven-plugin/tree/java9

[2015-09-24 13:02] FibreFoX commented on #153
For everyone who wants to test this, please use this setup inside your `pom.xml`:
[code]

Please use the javafx-maven-plugin with version `9.0.0-SNAPSHOT`

[2015-09-24 20:14] FibreFoX commented on #124
https://bugs.openjdk.java.net/browse/JDK-8137114
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8137114

[2015-09-28 06:59] FibreFoX commented on #144
@choonchernlim Hi, have you been able to check, if with a current JDK this works again?

[2015-09-28 19:21] AugustKarlstedt commented on #81
Updated link: https://bugs.openjdk.java.net/browse/JDK-8091056

[2015-09-30 16:02] AugustKarlstedt commented on #127
Could you post the exact markup that you used? This doesn't seem to be working for me.

[2015-09-30 16:15] hinerm commented on #127
@AugustKarlstedt sure; you can see how we were using the configuration [in this pom](https://github.com/imagej/imagej/blob/d9537944a8aced0e2fde5a3ce4b661747f97fae9/pom.xml#L161-L186). Haven't tried it recently though.

[2015-09-30 16:34] AugustKarlstedt commented on #127
@hinerm: Thanks! It doesn't seem like you're setting the fx:platform basedir, but instead just setting runtime="" (which doesn't include JRE in the bundle).

The issue I'm having is that running the built EXE still looks for the runtime to be included and throws an error.

[2015-09-30 16:57] hinerm commented on #127
@AugustKarlstedt Our use case was that we wanted the ability to build a [self-contained](http://docs.oracle.com/javase/8/docs/technotes/guides/deploy/deploy_overview.html) version of our application *without* bundling a JRE - allowing a user's system JRE installation to be picked up instead.

You may want to [verify that your JRE installation](https://docs.oracle.com/goldengate/1212/gg-winux/GDRAD

[2015-09-30 18:51] AugustKarlstedt commented on #127
@hinerm: That's what I was attempting to do. I have verified that my JRE installation is correct and working.

Thanks for your help, it seems like I should open a new issue.

[2015-10-03 09:51] hotzst opened #156 "Linux native bundle not executable"
Using this configuration on my OpenPatrician project will create an executable *.exe on Windows. The execution runs through successfully on Linux as well, but the produced executable fails to run with the following two lines:
     OpenPatricianDisplay-0.5.0-SNAPSHOT No main class specified
     OpenPatricianDisplay-0.5.0-SNAPSHOT Failed to launch JVM
Here is the plugin configuration:
[code]
I trie

[2015-10-03 13:54] FibreFoX commented on #156
Hi @hotzst, the problem is inside existing JDK and [got reported by me](https://bugs.openjdk.java.net/browse/JDK-8137114), the problem was documented in issue #124 , current version of javafx-maven-plugin (which is 8.1.5) provided a workaround for this. Mostly the DOT inside the appname is the source of the problem, because used libpackage.so does not do the right thing to find everything (you rea

[2015-10-03 13:54] #156 closed

[2015-10-03 14:08] FibreFoX commented on #156
@hotzst to just create the linux native files, use `<bundler>linux.app</bundler>` inside `<configuration>`-block of javafx-maven-plugin, reduces build-time to check with the new 8.1.5-version

[2015-10-09 15:26] FibreFoX commented on #152
Hi @sselvia , do you have any feedback from openjfx-malinglist? Any bug-ticket or something? Would be nice to have these listed here.

[2015-10-09 15:37] sselvia commented on #152
Danny, no feedback from Oracle, I’ve been mainly concerned with trying to get the app up on the OS X store.  I worked around the bundler arguments by just having an info.plist in my deploy -> macosx folder

As soon as I get back to that I’ll let everyone know.

[2015-10-22 20:07] totalvoidness commented on #124
Has anyone tried creating a .deb bundle using the OpenJDK? I stumbled upon this thread, as I have the exact same error: (No main class specified, Failed to launch JVM). But I _only_ experience this error with the OpenJDK (8u66). With Oracle JDK (8u60) everything works like a charm. Also execution via `java -jar ...` is not a problem in either case.

To be honest I don't use this javafx-maven-plugi

[2015-10-22 20:32] FibreFoX commented on #124
Hi @totalvoidness, just to be clear: I just can check such issues when application was bundled via javafx-maven-plugin. Support for normal ANT-version has to come from Oracle themselves or could be found at some places. The issues here should only be on topic of javafx-maven-plugin.

But back to your question/problem: have you checked inside `Cryptomator.cfg` if the referenced JAR is the right one

[2015-10-23 17:54] totalvoidness commented on #124
@FibreFoX I'm currently testing this. But have to do a dist-upgrade first, as ubuntu utopic isn't supported any more. As far as I can tell now: Oracle JDK 8u45, which is the last version for utopic in webupd8 ppa, does not work neither with nor without the `skipNativeLauncherWorkaround124`. But I think thats ok, as any native package will most likely contain the latest JDK anyway. I'll report abou

[2015-10-23 19:47] totalvoidness opened #159 "NumberFormatException in version check for "1.8.0_45-internal""
During some tests I noticed, that there is a NumberFormatException in `com.zenjava.javafx.maven.plugin.AbstractJfxToolsMojo:isAtLeastOracleJavaUpdateVersion(int)`, if the reported Java version is "1.8.0_45-internal", which is the case for the OpenJDK in Ubuntu Vivid.

A workaround is to override this by invoking maven with `-Djava.version=1.8.0_45`. Thus I wouldn't consider this a critical bug. Bu

[2015-10-23 19:59] FibreFoX commented on #159
Currently only oracle jdk is supported, thanks for the hint.

[2015-10-23 20:12] totalvoidness commented on #159
Well with the Oracle packager I never had the #124 problem at all. The whole point in my tests was to switch to the OpenJDK, if you remember ;)
Is there a particular incompatibility, because of which you don't want to support the OpenJDK or is it just a bad feeling cause it's untested?

[2015-10-23 23:07] FibreFoX commented on #159
Implementation of JavaFX of the Oracle-JDK was the first and main target of this maven-plugin, mostly because of the support of oracle. Let me setup up another ubuntu-vm and check it myself.

Upgrading tests on TravisCI wasn't as expected: https://github.com/javafx-maven-plugin/javafx-maven-plugin/pull/160

[2015-10-23 23:41] FibreFoX commented on #159
@totalvoidness just to make sure: how did you install openjfx on your system? Just found [this](https://www.chrisnewland.com/building-openjdk-9-and-openjfx-from-source-on-debian-378) tutorial for openjdk and openjfx, I'm not sure if `javapackager` is present. Having TravisCI running openjdk8 without modifications didn't provide required `ant-javafx.jar`. As far as I understood, the FX-part is sepa

[2015-10-23 23:46] totalvoidness commented on #159
@FibreFoX yes, it's still separated currently. I just apt-get install'ed it and it somehow worked. I can provide a Docker file based on vanilla ubuntu:vivid, if that helps

[2015-10-24 09:42] FibreFoX commented on #159
The problem comes with TravisCI currently, because they are just offering Ubuntu Trusty, but not Vivid. But meanwhile I will make some changes to the version-checker (which hopefully just makes everything else running ... we need that for some workarounds).

[2015-10-24 09:55] totalvoidness commented on #159
Still waiting for a backport: https://github.com/travis-ci/travis-ci/issues/2968

[2015-10-24 10:35] #159 closed

[2015-10-24 10:37] FibreFoX commented on #159
I'll push a snapshot-version online, would be nice, if you could check your build when I'm finished (will add a new comment here).

[2015-10-24 10:45] FibreFoX commented on #159
Hi @totalvoidness, could you try using `8.1.6-SNAPSHOT`? Just add this to your `pom.xml`

[code]

[2015-10-24 10:55] totalvoidness commented on #159
mvn package runs without errors and resulting .deb is executable after installation :+1:

[2015-10-29 13:52] RobzInadE commented on #123
Hey guys sorry to bump an old issue. I was wondering where the documentation on how to sign your application went? I recall it being in the old version. I thought it might be handy.

[2015-10-30 09:53] FibreFoX commented on #123
It seems that someone caught that domain ... I'm currently not sure, why the domain was moved to another person ... will have to investigate ...

[2015-11-06 08:17] treimers opened #163 "How to set additional entries in manifest file"
Hello,

I have been searching for a longer time now but I was unable to understand how to solve my issue.

I would like to set additional parameters in the manifest file in order to read values like application vendor, application title, application version etc. from the application code at runtime.

How can I set additionally entries in the manifest file? I tried something like below but it did n

[2015-11-06 13:49] russ-p commented on #163
try this
[code]

[2015-11-06 14:17] treimers commented on #163
This did not work, am I missing anything?

*pom.xml:*
			<plugin>
				<groupId>com.zenjava</groupId>
				<artifactId>javafx-maven-plugin</artifactId>
				<version>8.1.5</version>
				<configuration>
					<mainClass>de.softquadrat.workbench.gui.App</mainClass>
					<manifestAttributes>
						<url>http://www.softquadrat.de</url>
						<mode>development</mode>
					</manifestAttributes>
				</configu

[2015-11-06 14:28] russ-p commented on #163
try 'mvn jfx:jar' and check target\jfx\app\{finalName}-jfx.jar!\META-INF\MANIFEST.MF

[2015-11-06 15:29] treimers commented on #163
Yepp, this worked. Thank you very much!

[2015-11-06 15:29] #163 closed

[2015-11-10 14:34] aliebelt opened #164 "Something wrong with quotes and spaces in jvmArgs"
I want to add a jvmArg to my application which contains spaces:

&lt;jvmArgs>
	&lt;jvmArg>-Dvisualvm.display.name="My Super App"&lt;/jvmArg>
&lt;/jvmArgs>

But in VisualVM the shown application-name is: "My

Escaping " with &amp;quot; or with \" did not work either.

[2015-11-12 15:27] FibreFoX commented on #164
I would suggest to use `<jvmProperties>` for this, the escaping is the main reason this exists. I've already made a project for that: https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/src/it/11-access-application-and-jvm-parameters/pom.xml

Add this to your plugin-configuration:
[code]

[2015-11-14 15:05] FibreFoX commented on #164
@aliebelt any progress/feedback on this?

[2015-11-16 09:23] aliebelt commented on #164
Hi Danny, I found out that the javafx-maven-plugin is not the problem, it seems to be VisualVM. Apparently it can't handle spaces in an application name: http://stackoverflow.com/questions/4433979/how-do-i-give-a-name-to-a-visualvm-unknown-application#comment11367969_4436208

Following things work:
[code]

[2015-11-16 09:23] #164 closed

[2015-11-16 09:31] FibreFoX commented on #164
@aliebelt thanks for the feedback, never did something with VisualVM.

But i suggest to use the latter version for your configuration (jvmProperties).

[2015-11-16 14:01] rodsnjr opened #165 "Splash and Icon"
Hello, the project looks great.

I'm trying to generate a Windows Native Desktop Bundle.

I've followed the guide from [this topic](http://stackoverflow.com/questions/15880102/how-to-set-custom-icon-for-javafx-native-package-icon-on-windows?answertab=votes#tab-top)

I have an ${project.build.finalName}.ico on the directory from src/main/deploy/package/windows/

But that was and old topic, and it's

[2015-11-16 20:50] JuKu opened #166 "build-jar failed: A required class was missing while executing com.zenjava:javafx-maven-plugin:8.1.4:build-jar: com/oracle/tools/packager/Log$Logger"
Hi,

I want to make sure, application is compatible to linux, so i have added your JavaFX plugin, but it doesnt works.
Maven coulnd found com.oracle.tools package.

[INFO] ------------------------------------------------------------------------
[ERROR] Failed to execute goal com.zenjava:javafx-maven-plugin:8.1.4:build-jar (create-jfxjar) on project client-launcher: Execution create-jfxjar of goal

[2015-11-17 08:35] FibreFoX opened #167 "bundler not being able to produce native bundle without JRE on windows"
This is a windows-bug only!

When specifying `<bundleArguments>` to not include JRE in native bundle, JRE won't be created, but application still won't work. Mayor cause: the generated `.cfg`-file still contains `app.runtime=$APPDIR\runtime`

[2015-11-17 16:39] FibreFoX commented on #144
@choonchernlim do you still have this problem?

[2015-11-17 16:42] FibreFoX commented on #152
@sselvia Hi, do you have any response from openjfx-mailinglist? If it's a bug inside the JDK, could you show me where to look? (dont own a mac-system)

[2015-11-17 16:53] FibreFoX commented on #152
After looking at the [Info.plist.template](https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/resources/com/oracle/tools/packager/mac/Info.plist.template#L30) I may have found something ;)

"DEPLOY_BUNDLE_CATEGORY" is mapped to [BundleParams.PARAM_CATEGORY](https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/sun/javafx/tools/packager/bundlers/B

[2015-11-17 17:04] FibreFoX commented on #152
There is another thing I'm a bit confused: is there any reason you are not using the [bundlers special argument](https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/mac/MacAppBundler.java#L67)?
[code]

[2015-11-17 18:04] choonchernlim commented on #144
It's working for me now... Not sure why. Thank you.
On Nov 17, 2015 10:39 AM, "Danny Althoff" <notifications@github.com> wrote:

[2015-11-17 18:05] #144 closed

[2015-11-18 12:47] FibreFoX commented on #166
Hi @JuKu , could you provide me with the requested information please? Otherwise I'll close this issue-ticket in the next time. Thanks

[2015-11-18 12:55] sselvia commented on #152
Danny,

No I don't they never acknowledged the issue and when I got so wrapped up in my Mac App Store release it never came back up as part of the conversation. I have not reviewed the changes you made recently, I believe you thought you found something in the maven plugin?  I will pick up your changes and test this again to see if I can get a response. As it stands now, I have to have my own info

[2015-11-18 13:03] FibreFoX commented on #152
Hi @sselvia ,

I didn't need to change anything, it's already existing, just the names of the bundle-arguments you were using are the wrong ones.

[2015-11-18 13:13] JuKu commented on #166
@FibreFoX I have JDK Version 1.8.0_65 and Java 1.8.0_65.
I am using the intellij integrated maven version, something like 2.2.
I will send your details.

[2015-11-18 13:42] JuKu commented on #166
Here is the maven version.

Apache Maven 3.0.5 (r01de14724cdef164cd33c7c8c2fe155faf9602da; 2013-02-19 14:51:28+0100)
Maven home: D:\Program Files (x86)\JetBrains\IntelliJ IDEA Community Edition 14.1.4\plugins\maven\lib\maven3
Java version: 1.8.0_65, vendor: Oracle Corporation
Java home: C:\Program Files\Java\jdk1.8.0_65\jre
Default locale: de_DE, platform encoding: windows-1252
OS name: "windows 7

[2015-11-18 13:48] JuKu commented on #166
Here is the pom.xml.

[code]

Because it doesnt works, i have tried also the 8.1.6-SNAPSHOT version.

[2015-11-18 13:52] sselvia commented on #152
I will look again but I thought I used the names that Apple has defined in their info plist. Maybe the items I'm setting are not supported by the packager and that is why they are not being set. So it would then be an enhancement to the packager and not the maven plugin

Sent from my iPhone

[2015-11-18 13:56] FibreFoX commented on #166
Please make sure to check `C:\Program Files\Java\jdk1.8.0_65\lib\ant-javafx.jar` containing that missing class/package. Something is messing up with the maven-classloader somehow, normal installed Oracle JDK should contain that package/class :(

[2015-11-18 14:11] FibreFoX commented on #152
I think you are misunderstanding, how these specific bundle-arguments are passed.

When setting `<bundleArguments>` you DONT have to use the names within the plist-file, you have to check that native bundler yourself, if these names are valid, and what they are.

To make sure, you can replace/set some field, you first have to check the used template-file [`Info.plist.template`](https://github.com/

[2015-11-18 14:11] #152 closed

[2015-11-18 14:29] FibreFoX commented on #167
For a quick-fix, it is possible to manually specify the bundler-parameter:
[code]

Pull-request #167 will do this automatically on windows-systems

[2015-11-18 14:39] FibreFoX commented on #167
Seems to have changed since Oracle JDK 1.8.0 Update 60 and up:
Usind property-file-format OR INI-file-format
http://hg.openjdk.java.net/openjfx/8u60/rt/file/996511a322b7/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#l365

Usind property-file-format
http://hg.openjdk.java.net/openjfx/8u40/rt/file/eb264cdc5828/modules/fxpackager/src/main/java/com/oracle/tools/

[2015-11-18 15:56] sselvia commented on #152
I understand and no problem. I will continue to use my own info plist

Thanks,

Scott

Sent from my iPhone

[2015-11-18 16:35] FibreFoX commented on #152
Just out of curiosity: are you watching these issue-messages via mail? I'm asking because I'm using markup to create links, to show you the places/files I've found to look into, and as far is I see, these links are not displayed correctly in github-mails.

[2015-11-18 20:33] #167 closed

[2015-11-19 11:05] sselvia commented on #152
Yes mostly on my phone during the day and my mail client in the evening. I'm able to use the links so far

Sent from my iPhone

[2015-11-19 17:23] FibreFoX commented on #165
Hi @rodsnjr
beside my notes in the comment above, could you try this configuration?
[code]

When having activated `verbose` output, you should see something like this:
`Using custom package resource [application icon]  (loaded from package/windows/MainSplash.ico)`

[2015-11-20 08:56] #166 closed

[2015-11-20 08:57] FibreFoX commented on #165
@rodsnjr any progress on this?

[2015-11-21 09:21] #153 closed

[2015-11-22 12:34] FibreFoX commented on #167
Seems to be the same on windows, linux and mac:
Windows:
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/7810898ae606/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinAppBundler.java#l368
Linux:
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/7810898ae606/modules/fxpackager/src/main/java/com/oracle/tools/packager/linux/LinuxAppBundler.java#l251
Mac OSX:
http://hg.openjdk.j

[2015-11-23 13:06] bito4ek opened #171 "Found unsigned entry in resource"
Hello,
I'm using jfx for generating web.
At the start jnlp i have a trouble:
ExitException[ 3]java.lang.SecurityException: com.sun.deploy.net.JARSigningException: Found unsigned entry in resource: file:(project_link)/target/jfx/web/lib/javax.inject-1.jar
	at sun.plugin2.applet.JNLP2Manager.prepareLaunchFile(Unknown Source)
	at sun.plugin2.applet.JNLP2Manager.loadJarFiles(Unknown Source)
	at sun.pl

[2015-11-23 13:27] bito4ek commented on #171
temporary solving this problem is:
<dependency>
            <groupId>org.wildfly</groupId>
            <artifactId>wildfly-client-all</artifactId>
            <version>9.0.1.Final</version>
            <exclusions>
                <exclusion>
                    <artifactId>javax.inject</artifactId>
                    <groupId>javax.inject</groupId>
                </exclusion>
            </excl

[2015-11-23 14:47] FibreFoX commented on #171
Some things first:
- what version of javafx-maven-plugin are you using?
- what version of java are you using `java -version` (full version-string)?
- what version of maven are you using `mvn -v`?

Would be nice to have some example-projsect from you, to reproduce that problem.

[2015-11-23 15:07] bito4ek commented on #171
[code]

[code]

[code]

[code]

[2015-11-23 15:28] FibreFoX commented on #171
You have specified `<verbose>true</verbose>`, is there any output? There should be any output (source listed below), could you check for it on your build?
https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/sun/javafx/tools/packager/PackagerLib.java#L648
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/f836b37cd22c/modules/fxpackager/src/main/java/com/sun/javafx/too

[2015-11-23 15:42] bito4ek commented on #171
Signing (BLOB) "project_link"/target/jfx/web/lib/javax.inject-1.jar
Signed as "project_link"/target/jfx/web/lib/javax.inject-1.jar

[2015-11-23 16:03] FibreFoX commented on #171
Could you check, if the signature is inside that jar-file you are using?
javax.inject-1.jar -> the file `META-INF/SIGNATURE.BSF` should be there

[2015-11-23 16:05] FibreFoX commented on #171
I haven't any web-project with that dependency ... and I can see that file being signed :( maybe your uploaded version of the javax.inject-file wasn't the signed one?!

[2015-11-23 17:50] bito4ek commented on #171
http://www.filedropper.com/javaxinject-1
i upload my javax.inject lib after assembling.

Yes, it has  the file META-INF/SIGNATURE.BSF

[2015-11-23 18:00] FibreFoX commented on #171
I'm very sorry, but I really can't help here, it's no issue of the plugin itself, the file gets signed. As this does not have anything to do with the plugin, I'll close this issue. When you are having a [full mcve example](http://stackoverflow.com/help/mcve), I doubt that I can help here. Please reopen, when you have such project. If you managed to find any solution, would be nice of you to drop s

[2015-11-26 13:10] #125 closed

[2015-11-26 14:19] FibreFoX commented on #165
Please feel free to reopen this issue when providing new information.

[2015-11-26 14:19] #165 closed

[2015-11-26 14:20] FibreFoX commented on #131
We do have IT-projects where usage of this maven-plugin can be seen. Website for configuration exists too.

[2015-11-26 14:20] #131 closed

[2015-11-27 13:16] FibreFoX commented on #167
official Oracle JDK Bug:
https://bugs.openjdk.java.net/browse/JDK-8143314
https://bugs.openjdk.java.net/browse/JDK-8143934

[2015-12-23 16:14] Rizen59 opened #175 "Unable to start application with jdk 8u66 on Windows XP"
Hi all,

Since upgrading to JDK 8u66 from 8u51 we saw that native application cannot be launched on Windows XP anymore. The message is that the app is not a valid win32 application.
So for testing I packaged a simple app on jar file and launch it with both JDK 8u51 and 8u66.

Everythings works fine on 8u51 but here is the exception on 8u66 :
[code]

It's probably a bug from recent changes in JDK 8

[2015-12-25 23:11] FibreFoX commented on #175
Hm ... so where do you think is the issue with javafx-maven-plugin?

[2015-12-25 23:19] FibreFoX commented on #175
Just googled a bit, came up with this:
http://stackoverflow.com/questions/21185156/javafx-on-linux-is-showing-a-graphics-device-initialization-failed-for-es2-s#21203726 which points to the following existing bug-entry https://bugs.openjdk.java.net/browse/JDK-8120519 ... but its non-windows only.

Searching further i stumbled upon this: https://bugs.openjdk.java.net/browse/JDK-8092772

All in all,

[2015-12-25 23:19] #175 closed

[2015-12-30 12:11] dmitry-izmerov opened #176 "jfx:run cli arguments"
Would be great to add process of cli arguments from settings of this plugin.

[2016-01-01 11:00] Lewik opened #177 "Gradle"
This is a question not an issue =)
I know that this plugin for maven, but I need (want) build javafx on gradle. Previously I used https://bitbucket.org/shemnon/javafx-gradle but it's old and I fouond that this project is "continuator".

So can I use this for gradle somehow?
Or may be you know javafx plugin for gradle? I can't google it.

[2016-01-06 19:36] FibreFoX commented on #176
Could you specify your question a bit more?! I don't understand it :sweat:, maybe some example what you want to have would be nice.

[2016-01-06 19:42] FibreFoX commented on #177
As this is a maven-only-plugin I'm afraid to not being able to anwes this. I myself am not using gradle, it doesn't feel like a good replacement for me. The gradle-plugin you mentioned might be a bit dead because it's contributer doesnt find time to develop it any further, even [the github-hosted one](https://github.com/shemnon/javafx-gradle) seems dead.

Maybe you could call this using the `Exec`

[2016-01-06 22:41] JustGregory commented on #177
Actually, @FibreFoX I would have to answer in favor of Gradle, if only in that over the last year or so I have moved all my NetBeans projects over to using a Gradle buildscript system. I know next to nothing about this "maven" whereof you speak, and I don't have to, except in that Gradle supports the maven build structure quite well.

True, that bitbucket repo is a bit "stale"; but I guess the mai

[2016-01-07 07:10] dmitry-izmerov commented on #176
I want to pass cli arguments to application when I launch command jfx:run. Now I use command jfx:jar, pass arguments to got jar - java -jar ApplicationName arg1 arg2 ...

[2016-01-07 08:26] FibreFoX commented on #177
@JustGregory the build structure might be supported/equal, but not the maven-plugin-support ;)

I'll reconsider re-creating the current plugin to have a working gradle-extension, but don't keep your hopes too high. I've never got quite green with gradle, but might be a nice project to try it again.

[2016-01-07 08:31] FibreFoX commented on #176
Now I understand, but the clear answer is no. The problem comes with the method `jfx:run` is working:
it is a shortcut for calling the main-class via `org.codehaus.mojo:exec-maven-plugin` and there are multiple problems: it isn't how the consumer would call your application.

Another problem comes with native launchers, which might have special JVM-settings and pre-set arguments and some JVM-prope

[2016-01-07 17:06] purringpigeon commented on #177
I am using this maven plug in (it works great), and would really like to move my projects to Gradle (seems to have huge following now)- so if I can add my vote to this enhancement.  Thanks!

[2016-01-08 05:36] mcolburn opened #178 "Installed Windows App can't find main Java class"
I am able to successfully use the javafx-maven-plugin to create a "native" app for a Mac.  But, not on Windows 7.  The plug-in creates the installation exe, and it runs successfully, installing the app to the user's home directory \AppData\Local\{app name}.  When the installed exe is invoked, an error message displays that "class net/ages/alwb/utils/app/App not found."  When the message is closed,

[2016-01-08 13:08] FibreFoX commented on #178
Hi @mcolburn , pleasse check which version of javafx-maven-plugin you are using and what version of JDK you are using under windows 7.

Do you mean the generated jfx-jar, or the generated jar by maven at the destination `/target/yourProject.jar` ?

[2016-01-08 13:18] mcolburn commented on #178
javafx-maven-plugin: version 8.1.4
jdk: 1.8.0_65

Both the jfx-jar and the target/myproject.jar run fine using java -jar {jarfile name}

It only fails to find the main app when invoked via the exe

Thanks for your assistance!

[2016-01-08 13:27] FibreFoX commented on #178
@mcolburn please update to javafx-maven-plugin 8.2.0, there are some workarounds for native launchers I had to implement. More see the [changelogs](https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/CHANGELOG.md)

[2016-01-08 13:29] FibreFoX commented on #178
I assume you are hitting the "there is a dot in my application-name"-bug :smile:

[2016-01-09 17:40] FibreFoX commented on #178
@mcolburn I can see you pushed the app in question to some git-repository: https://github.com/AGES-Initiatives/alwb-utils-gui/blob/master/alwb.utils/pom.xml

Does it work with the newer version?

[2016-01-09 18:07] mcolburn commented on #178
Sorry…no, I just now tried it, and it did not solve the problem.  Same results.

[2016-01-09 21:01] FibreFoX commented on #178
Was my assumption correct that the problem is that alwb.utils-application? Where can I find some code to reproduce? (I would try to reproduce it with `java version "1.8.0_60"` on windows 8.1)

[2016-01-10 08:08] russ-p commented on #178
I have the save issue if  username contains non latin characters (C:/Users/Пользователь/AppData/…)
What is your username?

[2016-01-10 09:17] mcolburn commented on #178
Here is the Github repo for the application: https://github.com/AGES-Initiatives/alwb-utils-gui <https://github.com/AGES-Initiatives/alwb-utils-gui>

[2016-01-10 12:49] FibreFoX commented on #178
As far as I can see, there is nothing wrong with the javafx-maven-plugin, because everything is bundled as requested and expected.

Your application is the problem itself ;) after disabling the stuff inside `net.ages.alwb.utils.app.App::start` by replacing it with just showing the stage, I got an exception while running the generated jfx-jar, caused by the path inside `src/main/resources/log4j.pro

[2016-01-10 13:07] FibreFoX commented on #178
@russ-p its not because of the path, the problem already exists when calling `target/jfx/native/alwb.utils-v1.0/alwb.utils-v1.0.exe` inside normal folder

[2016-01-10 13:12] mcolburn commented on #178
Danny,

If you are able to start the app, then you are not experiencing the issue, despite the problems you ran into.  In other words, you are getting beyond the problem I have reported.

My issue is that the exe launcher reports that the main class path is not found.

Later I will make a hello world app and see if I can duplicate the issue. I will let you know either way.

Yes—sorry about the log

[2016-01-10 13:22] FibreFoX commented on #178
@mcolburn No problem :) i suspect there is something wrong with the classes inside the generated jfx-jar AND the jars inside the lib-folder, something like "doublicate class problem" resulting in disposing the jfx-jar. Like while putting some javaee-lib into EE-containers ;)

The best would be to strip your project down to some reproducable minimal application. There is a very lot inside your sour

[2016-01-10 14:11] FibreFoX commented on #177
To have everyone informed: I'm trying to get used to Gradle-plugin-writing, but I am not make good progress on that. :+1: But I'll try to give my best.

[2016-01-10 14:40] FibreFoX commented on #177
The original author of the gradle-plugin (shemnon) isn't supporting that plugin anymore, so I'm going to try a re-implementation of that gradle-plugin which recycles more code from this maven-plugin. Could take a while, but I'm encouraged even more now :smile:

[2016-01-10 15:05] Lewik commented on #177
@FibreFoX http://speling.shemnon.com/blog/2014/09/12/maven-javafx-plugin-8-dot-1-released/ I thought he with you

Anyway, after complete gradle plugin you should (even must =) ) tell about it to shenmon. And he'll post info about your plugin.

I am developing javafx application with gradle right now, so I'd like to test beta version of this plugin =)

I wrote gradle plugin for javafx already (it's

[2016-01-10 17:02] FibreFoX commented on #177
@Lewik This maven-plugin was developed by @zonski and a bit later maintained by @shemnon , but he didn't find any further time, so @zonski handed this project over to me. And because the gradle-plugin suffers from sparetime, that project is dead too.

My strugles about gradle are just that I really like maven. I do know that gradle has it's power, especially through groovy, and I don't want to sta

[2016-01-10 17:50] purringpigeon commented on #177
I think your maven plugin is excellent!  Having a unified maven/gradle plugin would be great. That way we can rely on common feature sets across both. I hope your efforts go well. Thanks for giving it a shot.

[2016-01-10 19:56] JustGregory commented on #177
Yes, I will echo that sentiment, @FibreFoX . Most important to let you know our gratitude for your efforts, if -- no, even when so -- just outside your normal comfort zone. I am hoping for good things in this regard.

As far as that "My strugles about gradle are just that I really like maven", doesn't mean that you have to consider them diametrically opposed goals and solutions. I would hope they

[2016-01-11 10:38] mcolburn commented on #178
A simple helloworld javafx app works fine with Windows 7 using javafx-maven-plugin 8.2.0.

[2016-01-11 11:17] FibreFoX commented on #178
@mcolburn In that case please try to debug your application a bit more.

Until you found something out, I will close this issue as invalid.

[2016-01-11 11:17] #178 closed

[2016-01-11 11:20] mcolburn commented on #178
That is fine.  Thank you for the great work you are doing and your willing support for issues!

[2016-01-13 14:13] FibreFoX commented on #177
Just to ask you guys ... something like this `build.gradle`-file ... would this something you would suspect of a javafx-gradle-plugin?

[code]

I'm half way finished with the `jfx:jar`-goal inside that gradle-plugin.

[2016-01-13 14:32] Lewik commented on #177
All ok for me

There are some way to minimize buildscript - "incubating, plugin mechanism introduced in Gradle 2.1" - it's necessary at the moment

[2016-01-13 14:33] Lewik commented on #177
It's better to have more options in jfx task. As much as possible %)

[2016-01-13 14:46] FibreFoX commented on #177
@Lewik This was just a (for me working) sample, there will be full list of options like in javafx-maven-plugin.

:+1: it's my very first thing I'm doing for production with Gradle, so you guys know, what you want a bit more than me :D

[2016-01-13 15:04] purringpigeon commented on #177
I am not real sure on what all needs to be there but it's looking good to me.

On Jan 13, 2016, at 7:46 AM, Danny Althoff <notifications@github.com> wrote:

@Lewik This was just a (for me working) sample, there will be full list of options like in javafx-maven-plugin.

 it's my very first thing I'm doing for production with Gradle, so you guys know, what you want a bit more than me :D

—
Reply to

[2016-01-13 21:52] FibreFoX commented on #177
I'm having good efforts right now .. if everything works as it does now, there should be a testable beta-version of the javafx-gradle-plugin on upcoming sunday. Configuration would work like with this maven-plugin. There will be no need to add the `ant-javafx`-dependency, as this would be done for you.

I'm nearly finished with the `jfx:jar`-goal ... the next bigger thing will be the `jfx:native`-

[2016-01-14 01:23] JustGregory commented on #177
Sounds good; I've got several uses for this plugin already waiting.

[2016-01-14 09:59] FibreFoX commented on #177
@JustGregory no worries ;) I've never done buildscripts myself either :smile:  currently I'm "fighting" with getting the dependency-jars for putting them into the `lib`-folder (and passing them to the javapackager). When I'm having something new for you, I'll comment that here!

[2016-01-14 11:44] Lewik commented on #177
@FibreFoX
I think you need some kind of fat jar or uber jar
Here is fragment of real build.gradle
[code]

[2016-01-14 13:04] FibreFoX commented on #177
@Lewik I'll never do that kind of stuff ... this maven-plugin [went that way](https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/3) long time before me by creating fat-jars ... and it failed. I don't tend to change the behaviour of the upcoming javafx-gradle-plugin from this maven-plugin. Everything will be created below the `build/jfx/`-folder.

In the meantime I found a nice way t

[2016-01-14 14:16] purringpigeon commented on #177
That sounds great.  The way your maven plugin build it is perfect for my needs so having gradle do the same thing will make the tradition smoother.

Thank you for your efforts.

On Jan 14, 2016, at 6:04 AM, Danny Althoff <notifications@github.com> wrote:

@Lewik I'll never do that kind of stuff ... this maven-plugin went that way long time before me by creating fat-jars ... and it failed. I don't

[2016-01-15 09:38] FibreFoX commented on #177
Just some short update:
[code]

This is already working for me, the maven-goals `mvn jfx:jar` and `mvn jfx:native` are now usable via gradle-tasks `gradle jfxJar` and `gradle jfxNative`.
These maven-goals are not on my todo-list right now (and might not being there ever): `mvn jfx:list-bundlers`, `mvn:generate-key-store`, `mvn:run` (the last one is deprecated)

I just need to cleanup some parts, b

[2016-01-15 17:14] FibreFoX commented on #177
All you brave heroes out there :smiley_cat:  there is a SNAPSHOT-version available:

buildscript-excerpt:
[code]

Example of full `build.gradle`-file:
[code]

Please be aware of the [upcoming new repository](https://github.com/FibreFoX/javafx-gradle-plugin) for that gradle-plugin. Sources and some other stuff will be published as soon there is a polished version (which should be next sunday).

[2016-01-15 17:42] purringpigeon commented on #177
Thank you!!  I will give it a shot Tuesday (long weekend here). Really appreciate your time and help on this.

On Jan 15, 2016, at 10:14 AM, Danny Althoff <notifications@github.com> wrote:

All you brave heroes out there  there is a SNAPSHOT-version available:

buildscript-excerpt:

buildscript {
    repositories {
        maven { url "https://oss.sonatype.org/content/repositories/snapshots" }

[2016-01-15 22:56] FibreFoX commented on #177
For those that haven seen it already, the new [javafx-gradle-plugin](https://github.com/FibreFoX/javafx-gradle-plugin) has landed at github, it's available as sonatype-SNAPSHOT version and will be tweaked the next days (mostly some cleanup and bring file associations to it).

So this was it, it's done ;)

[2016-01-15 22:56] #177 closed

[2016-01-22 16:43] codewing opened #179 "Add libs to jar"
Hey,
I'm wondering if there exists an option to automatically add the libs into the generated jar so everything looks cleaner.

[2016-01-24 11:55] FibreFoX commented on #179
Nope, and it will never exist. There is a good reason we are putting the libs aside of the jfx-jar. That question targets to a fat-jar, but this has more than one problem.

Just references:
https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/177#issuecomment-171638597
https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/3

NOT merging all dependency-jars might not be a s

[2016-01-24 11:55] #179 closed

[2016-01-26 16:07] aliebelt opened #180 "Old/Unused dependencies collected"
I have some lib-entries which are not part of my dependency graph (older versions of dependencies or unused ones):

   Compressing: C:\Users\aliebelt\AppData\Local\Temp\fxbundler9194108517832756673\images\win-exe.image\Fraunhofer IWES.vpp 1.68-SNAPSHOT\app\lib\brownies-collections-0.9.12.jar
   Compressing: C:\Users\aliebelt\AppData\Local\Temp\fxbundler9194108517832756673\images\win-exe.image\Frau

[2016-01-26 20:08] FibreFoX commented on #180
So what does it have to do with this plugin? What does `mvn dependency:tree` print? Are you running `mvn clean` before running the `jfx:native`-goal?

[2016-01-27 08:02] aliebelt commented on #180
Hi Danny, I'm sorry. It seems that it has been my fault. We switched to maven clean plugin 3.0.0 which was not executed correctly. After cleaning target folder everything works as expected again :)

[2016-01-27 08:02] #180 closed

[2016-02-10 23:33] technosf opened #181 "Signing issues building a Maven multi-module jfx app with custom controls"
Building [Posterer](https://github.com/technosf/Posterer) with _jfx-m-p_ has been great as a monolithic app.

I've just recently split it into a multi-module maven app, and moved some code out of the UI portion of the app into a separate custom control sub project. Now I'm hitting the issue below when building the app with _jfx-m-p_:

[code]
etc.

This issue can be created with the command:
`mvn -

[2016-02-12 19:33] FibreFoX commented on #181
@technosf I've checked out the current that project and had no problem to bundle that project:

[code]

[2016-02-12 19:34] FibreFoX commented on #181
@technosf Just to clear some things up: what JDK are you using?

[2016-02-12 19:53] technosf commented on #181
1.8...

Sometime you need a second pair of eyes. That it worked for you, I thought to _clean _the project. Bingo.

Again, thank you for taking jfx and running with it

[2016-02-12 19:53] #181 closed

[2016-02-12 20:23] FibreFoX commented on #181
:+1:

[2016-03-04 08:11] FibreFoX opened #182 "JNLP-generation: path for dependency-lib on windows with backslash"
http://stackoverflow.com/questions/35758949/how-to-specify-the-jnlp-output-file-when-using-javafx-maven-plugin-for-creating/35773771?noredirect=1#comment59234018_35773771

Might be a bug inside lib-path-generation or inside JDK (to be determined)

[2016-03-04 08:20] FibreFoX commented on #182
http://hg.openjdk.java.net/openjfx/8u-dev/rt/file/7a0629ba396d/modules/fxpackager/src/main/java/com/oracle/tools/packager/jnlp/JNLPBundler.java#l746

The jar-references are created with relative file-path, which generated system-specific dividers (`\` on windows)

[2016-03-04 11:41] joao-fidalgo opened #183 "Adding native libraries to the native release"
Is there any way to achieve this?

For example, adding msvcr70.dll to the package.

[2016-03-04 13:10] marcelohack opened #184 "How to package only the app (without the runtime) using jfx:native ?"
I have an application that is full packaged, containing an app folder, a data folder and a runtime folder, but in some cases i want to package only the app folder, how i can do this?

[2016-03-04 17:47] FibreFoX commented on #184
@marcelohack
As far as I understood, this is already possible by providing an empty runtime-configuration to the used bundler:

[code]
Example configuration is already existing in the testing projects: https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/src/it/07-lifecycle-build-jfx-native/pom.xml#L40

[2016-03-04 17:47] #184 closed

[2016-03-04 17:49] FibreFoX commented on #183
There exists an option to do this:
https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/src/main/java/com/zenjava/javafx/maven/plugin/NativeMojo.java#L224

Just point your configuration so some folder containing your additional files.

[2016-03-04 17:49] #183 closed

[2016-03-04 17:51] FibreFoX opened #185 "signing generated/copied jars using jnlp-bundler"
http://stackoverflow.com/questions/35758949/how-to-specify-the-jnlp-output-file-when-using-javafx-maven-plugin-for-creating/35773771?noredirect=1#comment59271303_35773771

As there is no buildin option for the new JNLP-bundler, we have to sign the jars afterwards like it happened inside web-mojo.

[2016-03-04 17:58] marcelohack commented on #184
Thanks @FibreFoX, i will try it!!

[2016-03-05 12:29] FibreFoX commented on #185
After signing the sizes inside JNLP-file are not correct, this has to be fixed too (wasn't even working when using web-mojo by calling `mvn jfx:web`)

[2016-03-06 18:53] FibreFoX commented on #185
Signing and size-calculation is done within pull-request #186

[2016-03-06 19:01] #185 closed

[2016-03-06 19:01] #182 closed

[2016-03-07 09:27] pahofmann opened #187 "Missing artifact javafx-packager"
When adding `javafx-maven-plugin` in eclipse I get the following error:
`The container 'Maven Dependencies' references non existing library 'C:\Users\MyUser\.m2\repository\javafx-packager\javafx-packager\1.8.0_20\javafx-packager-1.8.0_20.jar'`

I`m using JDK 1.8.0_72.

[2016-03-07 10:29] FibreFoX commented on #187
Could you provide some reproducable project? What version of eclipse are you using?

Eclipse isn't the best when resolving dependencies, already got some issue about that, see #143

[2016-03-07 10:58] pahofmann commented on #187
I'm using eclipse Mars.2 Release (4.5.2).
The error occures even if when I just start a new project and add `java-maven-plugin` in the pom.xml.

[2016-03-07 11:23] FibreFoX commented on #187
@pahofmann sorry to be annoying, but I need a project to confirm your problem :smile:

[2016-03-07 11:54] pahofmann commented on #187
I created a new test project and added `java-maven-plugin`
https://owncloud.pahofmann.com/index.php/s/vinafLJlR02GKhP

[2016-03-07 12:01] FibreFoX commented on #187
Hi @pahofmann, you are using the plugin wrong. Instead of putting this to your dependencies, please take a look at the readme:

You have to add that maven-PLUGIN to your build-configuration (simple example: https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/master/src/it/02-cli-jfx-jar/pom.xml#L33 )

[2016-03-07 12:01] #187 closed

[2016-03-07 21:41] joao-fidalgo commented on #183
@FibreFoX not sure if intended, but that link pointed me to some <pre> comment

[2016-03-07 21:51] FibreFoX commented on #183
;) I really need to post more time-resistant links, sorry, got messed up, because I pushed a new version.

The part I ment:
[code]

[2016-03-09 08:14] FibreFoX opened #190 "Add feature to sign generated jars NOT using BLOB-signature"
JavaFX introduced a new way for signing jar, called BLOB signing. This features seems to not work anymore (did it ever?), jarsigner does not recognize that format and webstart does not either.

As a workaround it should be possible to generated all files in two steps:
1. generated jar-files (`build-jar` goal via maven-lifecycle, or `mvn jfx:jar` via CLI)
2. sign jar-files using something like [mav

[2016-03-09 08:22] FibreFoX commented on #190
"[blob signing is going away in JDK9. ](https://bugs.openjdk.java.net/browse/JDK-8088866?focusedCommentId=13889898&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-13889898)"

[2016-03-11 08:41] #190 closed

[2016-03-25 10:53] bito4ek opened #195 "Run java process with current runtime"
Hello,
Runtime.getRuntime().exec("java -jar Somejar.jar"); will run another java process, but "java" will use system jre runtime. Is there some way to run this in current runtime (that bunlder includes in execution folder)? in that runtime path folder "bin" is absent...
Thank you.

[2016-03-26 11:26] FibreFoX commented on #195
Hi @bito4ek , currently there is no way.

Just let us discuss that here: running the jfx-application with system-JRE is just a replacement of the old strategy calling another maven-plugin with a lot of problems. Calling `mvn jfx:run` creates the jfx-jar and calls that via system-JRE (as you mentioned).

Having your application using the "bundled-JRE" would depend on two things:
- having to run a b

[2016-03-26 11:52] bito4ek commented on #195
Hi @FibreFoX
Ok.
Let me discuss my first question with you.
In my case, i have users, that have more than 2 jres installed.
When users have been using my program, they are not tied to cuurent jre the environment, because my program has own runtime.
In this case, when invoke System.getProperty("java.home"); it will show path to bundled runtime.
Else in my case, my program is updated frequently, so

[2016-03-26 13:05] FibreFoX commented on #195
In that case I would suggest to not use `mvn jfx:run`, because it is not intended to recreate the scenario you described, it's intended to reduce the manual steps for running the javafx-application, more like a quick-fix or helper-tool, not to recreating the real situation.

As the created native launcher does some magic to find it's JRE and the configuration which resides inside the generated `.c

[2016-03-28 03:37] dongwenting opened #196 "MANIFEST.MF not contain Main-Class"
here is my pom.xml:

             <plugins>
			<plugin>
				<groupId>com.zenjava</groupId>
				<artifactId>javafx-maven-plugin</artifactId>
				<version>8.4.0</version>
				<configuration>
					<mainClass>javafx.LoginApplication</mainClass>
				</configuration>
			</plugin>
		</plugins>

i run mvn jfx:jar to package, but target/xxx.jar/META-INF/MANIFEST.MF not contain Main-Class, why?

[2016-03-28 10:58] FibreFoX commented on #196
@dongwenting You are looking at the wrong jar, the one being created by the plugin resides at the path `<your-project>/target/jfx/app/<appName>-jfx.jar`

Please close this issue if this answeres your question.

[2016-03-28 11:00] FibreFoX commented on #195
@bito4ek if this is okay with you, please close this issue, otherwise will be closed next week

[2016-03-28 12:13] dongwenting commented on #196
yes,  my question looks stupid > <.

I have another question. I have a system dependency, but it does not package into lib.

		<dependency>
			<artifactId>xxx</artifactId>
			<groupId>oms</groupId>
			<version>1.0</version>
			<scope>system</scope>
			<systemPath>${basedir}/lib/oms.jar</systemPath>
		</dependency>

Right now, my solution is copying it to lib, and change /target/jfx/app/<appName>-j

[2016-03-28 12:53] FibreFoX commented on #196
The javafx-maven-plugin only uses runtime-dependencies and compile-dependencies.

If you really need that library, and can't use some local proxy-repository (sonatype nexus, apache archia, ...), you could use something like a project-repository:

[code]
You have to create some folder-structure: `groupId/artifactId/version/oms-1.0.jar`, so the dependency-entry changes to:
[code]

As this isn't rela

[2016-03-28 12:53] #196 closed

[2016-03-28 19:34] bito4ek commented on #195
@FibreFoX
Thank you.
I will investigate by other methods..

[2016-03-28 19:34] #195 closed

[2016-03-28 23:17] tarkal commented on #166
I have the near identical issue with the exception that I'm running on OSX. Apart from that, same version of IntelliJ, Maven etc. I've tried adding the following dependencies as per a couple of forum suggestions but without success so far:

[code]

[2016-03-29 01:58] dongwenting commented on #196
yes, it works ! thank you very much.
just a little mistake in your answer.

    <dependency>
        <groupId>xxx</groupId>
        <artifactId>oms</artifactId>
        <version>1.0</version>
    </dependency>

[2016-03-29 08:31] FibreFoX commented on #166
@tarkal
You don't need to add that system-scoped `jfxrt.jar`, because it's automatically used by maven (as it is a plugin-dependency, so your application does not have to depend on it). Maybe removing that dependency solves the issue. Could you try that? And please make sure current JDK 8 is installed.

[2016-03-29 08:34] tarkal commented on #166
The problem originated without the dependencies. I only added them in after to try to solve the issue. I have the latest JDK installed.

Java(TM) SE Runtime Environment (build 1.8.0-b132)
Java HotSpot(TM) 64-Bit Server VM (build 25.0-b70, mixed mode)

[2016-03-29 09:13] FibreFoX commented on #166
Hi @tarkal , could you please create a small project to recreate that issue? As this is on MacOSX, please open another ticket for this, as this one is windows-specific.

[2016-03-29 09:33] tarkal opened #197 "build-jar failed: A required class was missing while executing com.zenjava:javafx-maven-plugin:8.1.4:build-jar: com/oracle/tools/packager/Log$Logger"
This is the same issue reported in #166 but for **OSX **instead of **Windows**. During the build phase the following error is encountered and the build fails:

[code]

IntelliJ details:
![screen shot 2016-03-29 at 11 27 06](https://cloud.githubusercontent.com/assets/7042623/14103648/64d352ba-f5a1-11e5-9751-ad9d72707bde.png)

Maven Version 3.0.5

Example skeleton project
[test_maven_fx.zip](https:/

[2016-03-29 09:34] tarkal commented on #166
Done. See #197.

[2016-03-29 09:49] FibreFoX commented on #197
Just to make sure: you can reproduce that issue with the project you've attached?

[2016-03-29 09:49] tarkal commented on #197
yes.

[2016-03-29 09:50] FibreFoX commented on #197
Oh, another thing: can you upgrade to plugin-version 8.4.0? Maybe the issue is gone already with that.

I've tried to reproduce on windows (don't have any osx-machine), but works normal for me.

[2016-03-29 09:53] tarkal commented on #197
8.4.0 stil causes the error. :(

N.B. I get the same issue with virtual Ubuntu system.

[2016-03-29 09:53] FibreFoX commented on #197
Thanks for the Ubuntu-hint. Which one: 16, 14, 12?

[2016-03-29 09:55] tarkal commented on #197
14.04.4 LTS -> I just created it for this experiment.

[2016-03-29 09:55] FibreFoX commented on #197
Oh, now I might have seen something: are you using "Oracle JDK" or "OpenJDK"? When using OpenJDK make sure to install OpenJFX too.

[2016-03-30 18:09] FibreFoX commented on #197
@tarkal I've installed a new VM with Ubuntu (version:14.04.3, architecture: amd64), which JDK did you install? Out-of-the-box there is no java available.

[2016-03-30 19:02] tarkal commented on #197
I installed oracle using

add-apt-repository -y ppa:webupd8team/java

[2016-03-30 19:04] FibreFoX commented on #197
@tarkal  thanks for that information, will try to recreate that issue.

Were you using `apt-get install maven` or did you install it on another way?

[2016-03-30 19:06] tarkal commented on #197
No I used the IntelliJ built in maven.

[2016-03-30 19:23] FibreFoX commented on #197
@tarkal How did you install IntelliJ? Did you download it from [their download-page](https://www.jetbrains.com/idea/download/download-thanks.html?platform=linux&code=IIC) or did you use that ubuntu software-center? (Just want to make it as close at possible to your conditions)

[2016-03-30 19:57] FibreFoX commented on #197
I now have installed Ubuntu 14, Oracle 8 (via webupd8team), downloaded IntelliJ, imported the maven-project you provided ... but can't reproduce that issue. Note that IntelliJ comes with OpenJDK, so you might wan't to chance to that OracleJDK, [like described here](http://blog.jetbrains.com/idea/2015/05/intellij-idea-14-1-4-eap-141-1192-is-available/) using "Switch IDE Boot JDK"-feature.

I know i

[2016-03-31 07:20] tarkal commented on #197
Interesting, I wasn’t aware that the IDE was using its own JDK instead of the one I installed. I am traveling today but I will take a look later and report back.

[2016-03-31 08:49] FibreFoX commented on #197
@tarkal no problem, take your time :) that bug is somewhere correlated with IDEA IntelliJ, so it might take a while to reproduce ;)

[2016-03-31 09:01] FibreFoX commented on #171
@bito4ek While crawling through all old issues, I might want to add some information here:
The java(fx)packager introduced a new way of "signing", which never really worked out (it was called blob-signing). You might try it again having `<noBlobSigning>` set to `true` which was [introduced with version 8.4.0](https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/javafx-maven-plugin-8.4.0

[2016-04-02 07:40] FibreFoX commented on #171
@bito4ek ping

[2016-04-02 07:53] bito4ek commented on #171
Thank you, I will try it on next week.

[2016-04-05 18:15] FibreFoX commented on #197
@tarkal any progress on this issue?

[2016-04-06 00:37] tarkal commented on #197
Sorry I’m traveling until Monday. Ill take a look then.

[2016-04-06 08:00] FibreFoX commented on #197
@tarkal Okay, no problem :) didn't want to be pushy, I was just checking the issues on the project.

[2016-04-11 07:16] jsyzthz opened #198 "file association"
hello,
i create a file and renamed to "test.ext1",then i downloand example "22-create-fileassociations-single-mimetypes" and build a native installer, i have install the exe file on my computer. but i cannot double click the "test.ext1" to open my soft?
[code]
see my configuration. any issue about it? thanks!

[2016-04-11 10:43] FibreFoX commented on #198
@jsyzthz you should try to upgrade to current version 8.4.0 :smile_cat: of the javafx-maven-plugin

[2016-04-11 10:56] FibreFoX commented on #198
@jsyzthz the file association-feature [was added with version `8.3.0`](https://github.com/javafx-maven-plugin/javafx-maven-plugin/releases/tag/javafx-maven-plugin-8.3.0), so it is expected to not work on `8.2.0`

[2016-04-11 10:56] #198 closed

[2016-04-11 16:36] lilyevsky commented on #182
I just tried the 8.4.0 release, and this bug is still there. Am I doing something wrong, or indeed the bug was not fixed?

[2016-04-12 09:38] jsyzthz commented on #198
@FibreFoX it woks! thanks. i have another question about the icon path,how to set? ico or icns?

[2016-04-12 10:47] FibreFoX commented on #182
@lilyevsky what bundler are you using? Are you setting `<bundler>jnlp</bundler>` or are you generating this via `mvn jfx:web`? What JDK-version are you using?

[2016-04-12 10:53] FibreFoX commented on #198
@jsyzthz this depends on the bundler itself.

To set the icon-path, you just have to set `<icon>somePathToIcon</icon>` to se corresponding icon you want to have. On systems running Windows, you have to set ICO-files (at least that I'm aware of). Don't have that much experience here as this is a very new feature :) but I hope you are find this very interesting.

[2016-04-12 11:20] FibreFoX commented on #171
@bito4ek I know I'm annoying ;) but did you get some time to check this issue?

[2016-04-13 15:47] malafeev opened #199 "Minimize JRE in native bundle"
Native bundle contains entire JRE.
Could you add feature to exclude packages, classes, jars etc?

Java 9 will come only next year :(

[2016-04-13 19:22] FibreFoX commented on #199
@malafeev This reminds me to [another stackoverflow-post](http://stackoverflow.com/questions/36538200/reducing-the-size-of-my-natively-deployed-javafx-application/36570931#36570931) I've encountered last days.

There are some licence restrictions about stripping, or to be more specific to distribute a stripped down JRE: http://www.oracle.com/technetwork/java/javase/jre-8-readme-2095710.html

But i

[2016-04-13 19:22] #199 closed

[2016-04-14 07:07] jsyzthz commented on #198
@FibreFoX
i haven't any better idea. but i have one a solution to resolve this on mac,win and linux.

add following code into pom
[code]
[code]
it will depend on you os.thanks.

[2016-04-14 08:01] FibreFoX commented on #198
@jsyzthz yes, providing that file icons is heavily dependend on the OS you are running the bundlers :) but that solution you provided here would have been the same solution I would work with :+1:

[2016-04-14 11:23] bjakke opened #200 "Failing the build when bunder fails (exe)"
Hi,

If I get errors from inno setup/signtool during the build, e.g.

returned an invalid response.

Which in turns shows

However the build is still reported as SUCCESS. Is this expected behaviour?
Currently I don't have task/execution that would fail after building the native installer if it is not present (I use antrun plugin + wildcard copy), probably as a workaround it is possible to make bui

[2016-04-14 17:12] FibreFoX commented on #200
@bjakke sorry but I don't get what this is about. Issues related to Inno Setup are not related to the javafx-maven-plugin.

To verify your problem, could you make any project to reproduce your constellation? What do you mean with "SignTool", there is nothing about inside the WinExeBundler.

[2016-04-14 19:01] bjakke commented on #200
Sorry, that probably wasn't that informative, I will try to write better when I'm back at work where I do have the problem (but I try to write here something now..). I'm also somewhat new to maven so it is possible that I have misunderstood something here.

I sign the executable which this plugin creates via .iss override which uses signtool.exe (windows sdk tool used to sign). This signing is con

[2016-04-14 19:05] bjakke commented on #200
Also as a note this is not that big of a problem, as I probably can create a check when I copy the installers via an ant task (i.e. if there is no files -> fail the build). This was more of a check that is this plugin supposed to behave like this.

(Also a BIG thanks for all who have created/contributed this plugin)

[2016-04-14 19:29] FibreFoX commented on #200
@bjakke Thanks for that explanation, now I DO understand what you mean. I will check that, but it MIGHT be something inside the bundler itself (and not by this maven-plugin).

This plugin is a wrapper of the provided java-interface used by the tool "javapackager", which is divided into separated "bundlers", separated for each operating system. It is possible to override some files and settings by

[2016-04-14 19:32] FibreFoX commented on #200
A quick look into OpenJFX might be the source of your exception and the behaviour of NOT failing the build: https://github.com/Debian/openjfx/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/windows/WinExeBundler.java#L370

As this is nothing regarding the plugin itself, do you want to close this issue?

[2016-04-14 19:49] bjakke commented on #200
I guess I should have remembered that the packager was open source too; sorry. I guess this is at least documentation in case someone has the same problem. Closing issue.

[2016-04-14 19:49] #200 closed

[2016-04-14 20:27] FibreFoX commented on #200
@bjakke no problem :) at least you have some more information about what is going on. If you have other problems which might not be any bug of the javafx-maven-plugin, just drop me a line via e-mail :smile_cat:

[2016-04-15 07:11] FibreFoX commented on #171
I will close this issue, but feel free to re-open or to drop some feedback after evaluation

[2016-04-15 07:11] #171 closed

[2016-04-15 07:14] FibreFoX commented on #197
@tarkal I'll close this issue in the next days when no further feedback was provided. It must have been something with IDEA itself, so this might not even be related to the javafx-maven-plugin anyway.

[2016-04-15 07:17] tarkal commented on #197
I’m really sorry, my work trip was extended by a month and I haven’t had time to look at this. Feel free to close it and I will re-open it if need be when I get a chance to look into it again. Thanks

[2016-04-15 08:12] FibreFoX commented on #197
@tarkal that sounds like a plan ;) I just get itchy when having no response for a long time.

[2016-04-15 08:12] #197 closed

[2016-04-15 14:52] bito4ek commented on #171
@FibreFoX
Hi there, sorry for my late.
I tried - i have an error:
`Failed to execute goal com.zenjava:javafx-maven-plugin:8.4.0:build-web (create-web) on project primosoft-gui: An error occurred while generating web deployment bundle: Error: Signing failed: duplicate entry: org/apache/xmlbeans/xml/stream/Location.class -> [Help 1]`

[2016-04-15 14:54] FibreFoX commented on #171
@bito4ek do you have any project to reproduced on?

[2016-04-15 14:55] bito4ek commented on #171
i have tried on my working production project...

[2016-04-15 14:58] bito4ek commented on #171
@FibreFoX
if i comment `<allPermissions>true</allPermissions>` - build ok, but jnlp didnt start

[2016-04-15 15:02] FibreFoX commented on #171
Oh, I kinda see the problem ;)
https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/30b56fff864dc8ec05b302e62c29e7ae9d000289/src/main/java/com/zenjava/javafx/maven/plugin/NativeMojo.java#L600

It only works when you are using `mvn jfx:native`-command or `build-native`-goal (as part of the build-phase). There is a new (and more modern) jnlp-bundler, but needs some adjustments to get trig

[2016-04-15 15:03] bito4ek commented on #171
@FibreFoX
i will try, thank you

[2016-04-15 18:10] bito4ek commented on #171
@FibreFoX
I tried, but it fails.
`ExitException[ 3]com.sun.deploy.net.FailedDownloadException: Unable to load resource: file:/${project path}/target/jfx/web/lib/xmlbeans-2.6.0.jar
	at sun.plugin2.applet.JNLP2Manager.downloadResources(Unknown Source)
	at sun.plugin2.applet.JNLP2Manager.prepareLaunchFile(Unknown Source)
	at sun.plugin2.applet.JNLP2Manager.loadJarFiles(Unknown Source)
	at sun.plugin2

[2016-04-15 18:17] bito4ek commented on #171
i run maven jfx:native and started in html webstart and it failed with error such as class not found, exaclty my class that extended jfx application.

[2016-04-15 19:07] bito4ek commented on #171
when i changed bundler to `<bundler>ALL</bundler>` and run `mvn package` i have the same error:
`ExitException[ 3]com.sun.deploy.net.FailedDownloadException: Unable to load resource: file:/{path to project}/target/jfx/web/lib/xmlbeans-2.6.0.jar
	at sun.plugin2.applet.JNLP2Manager.downloadResources(Unknown Source)
	at sun.plugin2.applet.JNLP2Manager.prepareLaunchFile(Unknown Source)
	at sun.plugin2

[2016-04-15 20:21] FibreFoX commented on #171
Everything inside `target/jfx/web/` was produced by "build-web", please change that to "build-native". I really need some reproducable project, doesn't matter if application has realy function, but this setup seems very special.

[2016-04-17 12:36] FibreFoX commented on #171
please change `<jnlp.appName>` to `<jnlp.outfile>` when calling build-native, I got confused when writing my previous post ;)

[2016-04-21 14:00] FlorianWolters opened #201 "Calling jfx:run via NetBeans IDE 8.1 fails if no clean"
I am using NetBeans 8.1, Maven 3.3.9, exec-maven-plugin 1.4.0 and javafx-maven-plugin 8.4.0 under Windows 7.

When I call `mvn jfx:run` from the CLI everything is fine, reproducible. But I have a problem invoking the goal `jfx:run` from NetBeans (via *Run*).

I defined `nbactions.xml` as follows:

    <?xml version="1.0" encoding="UTF-8"?>
    <actions>
      <action>
        <actionName>run</acti

[2016-04-21 14:40] FibreFoX commented on #201
Could you please paste your pom.xml? It's often something wrong with the configuration.

To make some parts a bit more clear: the javafx-maven-plugin creates a new java-process, because javafx is doing some bootstrapping, so it is not required to add something to the classloader.

[2016-04-21 14:51] FibreFoX commented on #201
According to the output:

It seems that there are some parts missing in the bundle :( `Exception in Application stop method`

The message `call from CLI - skipping creation of JavaFX JAR for application` says, that you configured jfx-jar generation using maven-lifecycle (via executions), but the executions are skipped when using CLI-calls.

[2016-04-21 14:53] FibreFoX commented on #201
@FlorianWolters just one personal note (aside the other notes): I'm developing with open CLI while running Netbeans :smile_cat: so it might not be well-tested on that part.

[2016-04-22 13:04] FibreFoX commented on #201
@FlorianWolters ping

[2016-04-24 16:33] FlorianWolters commented on #201
OK, I've been able to test this with a minimal project.

With the minimal project it works like expected (I can use the `nbactions.xml` posted before). Things seems start to get weird with multiple multi-module projects using parent POMs where the javafx-maven-plugin and/or exec-maven-plugin is (partially) configured in parent POMs.

Sadly I am not allowed to post the original project here. I am n

[2016-04-24 19:53] FibreFoX commented on #201
Hi @FlorianWolters , I'm going to check it out :+1: thanks for the project and the feedback. Might take a while to find out what happens there ;)

[2016-04-24 20:37] FibreFoX commented on #201
Hm ... thats strange, it only "fails" when opening the main project, making a "clean" before "run" seems to make it work. I suspect something with the maven-integration of Netbeans having something to do with this ... but I'm not sure about that. Workaround could be to have some terminal (cmd.exe) open while developing (might not be the best solution tho).

I'll let you know, if there is something

[2016-04-25 11:11] FibreFoX commented on #201
Hi,

I found some differences between calling via CLI or running via Netbeans:

*Using Netbeans-RUN*
[code]

*Using CLI `mvn clean jfx:jar`*
[code]

It seems that the dependency `example-component-util-0.1-SNAPSHOT.jar` gets lost when using Netbeans ... not sure why, but at least I'm having a clue now.

[2016-04-25 11:50] FibreFoX commented on #201
Hi @FlorianWolters , I may have found something which works for me. It seems that Netbeans is messing with some maven-internals, so please turn of the "Compile on Save"-feature, e.g. by adding some `nb-configuration.xml`-file to the project "example-javafx-mvvmfx":

[code]

[2016-04-25 14:47] FibreFoX commented on #201
@FlorianWolters after evaluation please close this issue ;) or provide more feedback

[2016-04-25 18:15] FibreFoX commented on #201
Just to make it absolutely clear:
Calling `mvn jfx:jar` is a shortcut for generating jfxJar and creating a separated process of a new java-instance running that generated special jar-file.

Running the project via exec-maven-plugin does not the same thing, it is just running that main-class directly. Executing some javafx-jar-file does some special bootstrapping, where all JAR-files listed inside

[2016-04-27 14:16] FibreFoX commented on #201
@FlorianWolters ping

[2016-04-27 17:16] FlorianWolters commented on #201
I will look at that workaround tomorrow. Seems like a legit workaound, I do not need *Compile On-Save* anyway...

[2016-04-27 17:16] #201 closed

[2016-04-27 18:05] FlorianWolters commented on #201
Yeah, using the following minimal `nb-configuration.xml` file does seem to work after a quick test:

    <?xml version="1.0" encoding="UTF-8"?>
    <project-shared-configuration>
      <properties xmlns="http://www.netbeans.org/ns/maven-properties-data/1">
        <netbeans.compile.on.save>none</netbeans.compile.on.save>
      </properties>
    </project-shared-configuration>

I think this is some

[2016-05-03 11:30] FibreFoX commented on #55
Just leaving this here for reference: http://stackoverflow.com/a/36932827/1961102

[code]

[2016-05-10 07:16] FibreFoX commented on #182
Leaving this here for reference: Already got reported ! but closed as incomplete :(
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=8144165

[2016-05-15 14:56] FibreFoX opened #205 "Building RPM on CentOS does not work"
After discussing the problem with the SO-user on this topic: http://stackoverflow.com/q/37178020/1961102

Generating RPM-package on CentOS-system does not work, because still existing bug of native launcher configuration file. [The workaround](https://github.com/javafx-maven-plugin/javafx-maven-plugin/blob/30b56fff864dc8ec05b302e62c29e7ae9d000289/src/main/java/com/zenjava/javafx/maven/plugin/Nativ

[2016-05-15 14:58] FibreFoX commented on #205
Installed state
![virtualbox_centos-jmp_15_05_2016_16_48_16](https://cloud.githubusercontent.com/assets/1042579/15274895/2aba02ee-1abe-11e6-839d-264e65bf18c3.png)

Modified state (manually doing workaround)
![virtualbox_centos-jmp_15_05_2016_16_50_17](https://cloud.githubusercontent.com/assets/1042579/15274897/2f38b0ae-1abe-11e6-9a83-4a21baf24198.png)

[2016-05-15 15:00] FibreFoX commented on #205
User submitted example-project: https://github.com/gclouds/simplejavafxApp

[2016-05-15 17:48] FibreFoX commented on #205
Everytime I'm debugging something, I am learning something new!
It seems, that the image-bundler is called within the installer-bundler: https://github.com/teamfx/openjfx-8u-dev-rt/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/linux/LinuxRpmBundler.java#L257

This means the workaround created by me is solely usable for "linux.app", "windows.app" and "mac.app" ... which is

[2016-05-15 18:45] FibreFoX commented on #205
Reference: https://github.com/javafx-maven-plugin/javafx-maven-plugin/issues/124

[2016-05-17 15:49] gclouds commented on #205
is there any other way by that i can generate working rpm for CENTOS?

[2016-05-17 19:15] FibreFoX commented on #205
Hi @gclouds ,
as I have told you via e-mail, you have to set appName containing something without a dot. Please take a look at the [simplejavafxApp](https://github.com/gclouds/simplejavafxApp), which I have updated to a working state. I can build working RPM-file on my CentOS-system.

[2016-05-18 20:21] dmusican opened #207 "Classpath for log4j xml"
I'm using this wonderful plugin to create an executable jar that contains within it an xml file with config information for log4j. When executing the jar file, the xml config file can't be found. My best guess is that this is because while the xml file does end up landing in the jar file, it isn't in the classpath contained within that jar file. (I'm not 100% sure this is what is going on, but I t

[2016-05-19 09:00] FibreFoX commented on #207
Hi @dmusican ,

you are talking about that [file not found issue](https://github.com/dmusican/Elegit/issues/122) on your [Elegit-project](https://github.com/dmusican/Elegit/), right?

I will try to reproduce it, maybe it's just some trivial "file X has to be on folder Y"-thing instead of a bug of this maven-plugin :smile_cat:

[2016-05-19 09:13] FibreFoX commented on #205
Hi @gclouds ,

I have created a now working SNAPSHOT-version of this plugin. Please add this to your pom.xml:
[code]

And please change the version of the used javafx-maven-plugin to `8.5.0-SNAPSHOT`.

The fix now does the same as the workaround for issue #124, but now for installers too (hopefully)

[2016-05-19 09:25] FibreFoX commented on #207
@dmusican

Hi, this is no issue with the javafx-maven-plugin, it is some problem with your application-logging. I will make a pull-request to that project to fix logging.

By the way, this will NEVER work:
[code]
You are generating some path into a JAR-file, which isn't writable as a normal folder on your harddrive. It generates something like this (which isn't valid):
` file:/C:/someFolders/Elegi

[2016-05-19 09:25] #207 closed

[2016-05-23 18:55] FibreFoX commented on #205
ping @gclouds

This will be closed soon as fixed (with pull-request #206 ) when no further feedback gets provided.

[2016-05-24 05:16] FibreFoX commented on #205
After the latest commit inside that PR, this now does work for me on CentOS.

[2016-05-24 05:22] #205 closed

[2016-06-16 08:31] jsyzthz opened #209 "fileAssociations and filename contains non latin characters"
Hi,
i have link all "*.test" files to my exe using 'fileAssociations'.
but if i create a file named as "中国.test"(with chinese charcter).if i double click this file will get error(empty content,no details),click ok i will get another error dialog "Failed to launch JVM".
i have set -Dfile.encoding=UTF-8.
any idea to fix this?
thanks!

[2016-06-16 18:01] FibreFoX commented on #209
Hi @jsyzthz ,
first of all: thanks for using this little maven-plugin :smile_cat:

Could you please provide a simple project, where this issue can be recreated? What JDK did you use to create you bundle? And how did you set `-Dfile.encoding=UTF-8`?

Mostly there is some bug when using older maven-plugin-versions or having a buggy JDK, even misconfiguration is possible, but to determine, what is go

[2016-06-16 18:18] rguillens opened #210 "Strip version"
Please add strip-version and/or strip-dependency-versions options.
Thank you.

[2016-06-16 20:31] FibreFoX commented on #210
Can't follow you here. What  do you mean?

[2016-06-16 21:59] rguillens commented on #210
I mean, that I need to remove the maven version number at the ending of the artifact names.

[2016-06-17 03:14] jsyzthz commented on #209
sorry, i have push my code to https://github.com/jsyzthz/javafx
my env:
java version "1.8.0_77"
Java(TM) SE Runtime Environment (build 1.8.0_77-b03)
Java HotSpot(TM) 64-Bit Server VM (build 25.77-b03, mixed mode)
thank very much!

[2016-06-17 08:30] FibreFoX commented on #210
Hi there, can you please describe, which version you mean?
If you wish the generated "-jfx.jar" to not contain any version, just set it via configuration:

[code]

Stripping the version of the gathered dependencies is out of scope of this maven-plugin.

Does this answer your question/need?

[2016-06-17 08:32] FibreFoX commented on #209
Hi @jsyzthz , I'm on it, will come back with some results ;)

[2016-06-17 08:43] FibreFoX commented on #209
I can reproduce this behaviour using the generated native launcher, this fails on non-latin chars. When launching the containing app (inside the app-folder) with `java -jar test-jfx.jar c:\(somepath)\中国.test` DOES work, this this is clearly a BUG inside the native launcher, and not a bug of this maven-plugin.

[2016-06-17 09:02] FibreFoX commented on #209
Only thing that I found is this here: https://bugs.openjdk.java.net/browse/JDK-8029584

I might dig into this a bit more, but feel free to open some bug on the Oracle-JDK yourself.

[2016-06-17 09:54] jsyzthz commented on #209
thanks,i will keep to debug ， java -jar ... is ok.

[2016-06-17 10:20] FibreFoX commented on #209
I bet it has something to do with char-encoding inside the native launcher, which resides inside some nasty C/CPP-program

[2016-06-17 14:45] rguillens commented on #210
Yes, thank you very much. I'll work around to remove the dependencies versions with the maven dependency plugin.

[2016-06-17 14:59] FibreFoX commented on #210
Okay :) looks like a "fix". Will close this issue.

[2016-06-17 14:59] #210 closed

[2016-06-20 04:49] jsyzthz commented on #209
i test inno setup sample project. pass parameter with chinese character is ok.
so issue between exe and jvm? i think.

[2016-06-20 06:33] FibreFoX commented on #209
That exe-file is called "native launcher" :) and yes, I think too that the issue lies between the EXE-file and the JVM, but haven't located that issue yet. All argument copy-parts are using unicode-methods, maybe I missed some (as my c/cpp-skill is a bit rusty and old, hehe).

[2016-06-20 16:01] FibreFoX commented on #209
Hi @jsyzthz, did you try it with the native launcher on linux or macosx? There is some thing crossing my mind:
* if it is the native launcher, which part is it? maybe the packager.dll (which is the real bridge to the JVM) has this flaw, and if so, this might be reproducable on other systems than windows. If that is NOT reproducable, this bug is windows-only
* some bug inside the JDK, yet unrecogni

[2016-06-21 06:45] jsyzthz commented on #209
Hi @FibreFoX , i install centos linux(7.2.15511) in virtualbox. I build a rpm installer under centos,then install it and test ok.
sorry i don't know how to install a mac system under virtualbox.
--------------
i found another issue about javafx packager when building the rpm packager.
i update my porject version to "1.0.0-RC1" and update nativeReleaseVersion to "${project.version}"
build failed wi

[2016-06-21 07:24] gclouds commented on #205
trying to build the software but getting below error first build successful

[ERROR] Failed to execute goal com.zenjava:javafx-maven-plugin:8.4.0:jar (jar) on project TrueChipGUI: Unable to create app lib dir: C:\Users\gauravsi\Documents\AllWs\new\TrueChipGUI\target\jfx\app\lib -> [Help 1]
org.apache.maven.lifecycle.LifecycleExecutionException: Failed to execute goal com.zenjava:javafx-maven-plugi

[2016-06-21 07:59] FibreFoX commented on #209
That version-thing is no issue, this is an already communicated restriction! the nativeReleaseVersion-property is only allowed to have "traditional" versioning, means no chars, only numbers and maximum 2 dots (like [SEMVER](http://semver.org/spec/v2.0.0.html)), because (as you already found out) this is limited with some native bundlers.

When there is some free time, I might try to create some di

[2016-06-21 08:03] FibreFoX commented on #205
First of all, please upgrade to latest plugin version: 8.5.0
Second: please read the message of the exception: the plugin is unable to create some folder, make sure the user is allowed to write there, sometimes it helps to move the project into some other folder with a less deep folder-structure.

-> no bug as far as i can see (and if so, please make a NEW issue-ticket)

[2016-06-21 08:50] gclouds commented on #205
Thanks, this issue is resolved now(restarted the system and deleted the folder manually), may be its eclipse issue, bcoz after creating first successful build I encountered the problem.

[2016-06-21 09:27] jsyzthz commented on #209
Sure, Review ID: JI-9040536
Thanks you help!

[2016-06-21 09:36] asukhyy opened #211 "When using takari-maven-plugin icons from icon-sets are not displayed"
OS X: 10.11.5
Apache Maven: 3.3.9
Oracle JDK: 1.8.0_92
javafx-maven-plugin: 8.5.0
[takari-maven-plugin](https://github.com/takari/takari-maven-plugin)

_Note_:  Maybe it is becase of different parent class-loaders:
- plain maven: *sun.misc.Launcher$AppClassLoader*
- takari-maven-plugin: *java.net.URLClassLoader*

[2016-06-21 09:43] FibreFoX commented on #211
Hi, do you have some reproducable project for this? And how does this relate to the javafx-maven-plugin?

[2016-06-21 10:40] asukhyy commented on #211
[how to reproduce](https://github.com/asukhyy/issues/tree/master/issue-211)

[2016-06-21 11:38] FibreFoX commented on #211
Hi @asukhyy ,

as I'm not having any MacOSX-system, I can't check it by myself, BUT: it seems to be a problem with the takari-maven-plugin, can't find any problems on windows-system. Please open a bug on that project instead here, if they are finding nothing, I might reopen this issue for further investigations.

[2016-06-21 11:41] Adri7 opened #212 "Command line current path"
I have a simple configuration for create both jar and native installer (Linux .deb).
I install the .deb in /opt/MyApp. So the executable is /opt/MyApp/myapp and the jar is /opt/MyApp/app/myapp-jfx.jar
If i execute the jar (java -jar), inside my app i can do new File("") and it is relative to the current cmd location. BUT if i execute the executable, the path is not the cmd location, it is /opt/MyA

[2016-06-21 12:22] asukhyy commented on #211
@FibreFoX when I changed `com/zenjava/javafx/maven/plugin/AbstractJfxToolsMojo.java:110` to
`URLClassLoader sysloader = (URLClassLoader) Thread.currentThread().getContextClassLoader();`
it helps.

[2016-06-21 12:41] FibreFoX commented on #211
Now I DO understand the problem :smile: and this seems to be a valid improvement. Will work on that.

[2016-06-21 12:44] FibreFoX commented on #212
And what does this have to do with the javafx-maven-plugin? It's some issue with the native launcher, not this maven-plugin.

Have you tried this more ugly-looking code ([source](http://stackoverflow.com/a/15954821/1961102))?
[code]

[2016-06-21 13:01] FibreFoX commented on #211
Can you try using the snapshot-version?
[code]

Please add the sonatype-repository for "-SNAPSHOT"-versions of plugins:
[code]

[2016-06-21 13:16] asukhyy commented on #211
@FibreFoX just verified - works.

[2016-06-21 13:21] FibreFoX commented on #211
will be on maven-central with next release

[2016-06-21 13:21] #211 closed

[2016-06-21 13:22] asukhyy commented on #211
+1

[2016-06-21 14:30] #212 closed

[2016-06-22 07:24] jsyzthz commented on #209
Update
http://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-8160046
checked this for version 8u91 with NetBeans and couldn't reproduce the issue as reported.
The file with the file name having Chinese characters opened correctly without any error (see attached screenshot)
why can't reproduce?

[2016-06-22 07:50] FibreFoX commented on #209
Hm, I think they didn't try the native launcher on windows, mentioning something with "Netbeans" looks like they called the generated JAR-file instead of the native launcher (just guessing).

[2016-06-22 07:50] FibreFoX commented on #209
I will try to recreate the issue using the latest version of the JDK, will report back with insights.

[2016-06-22 08:09] FibreFoX commented on #209
Even with 1.8.0u92 this issue exists, will make some pull-requests to your test-project to make the scenario more clear ;)

[2016-06-22 08:23] FibreFoX commented on #209
@jsyzthz please accept the pull-request I made on your project ;) that might help to reproduce your issue.

[2016-06-22 08:50] jsyzthz commented on #209
@FibreFoX  merged. thanks!

[2016-06-22 20:02] erictwalker18 opened #214 "Platform specific icon for linux"
I'm using this wonderful plugin to create a native app across operating systems. I wanted to include the icon for the application in the app, which was done easily for Mac OSX and Windows by placing the icon file in src/main/deploy/macosx or src/main/deploy/windows, but didn't work for src/main/deploy/unix. Is there a specific way to include the icon in Linux/Unix native builds, or would this be p

[2016-06-23 06:53] FibreFoX commented on #214
Did you try to use "linux" instead of "unix" as folder-name? ;)

[2016-06-23 11:17] erictwalker18 commented on #214
Yep. Sadly neither Linux nor Unix works.

[2016-06-23 11:22] FibreFoX commented on #214
Just to clear some things: the icon is not part of the normal native launcher, it is only used when createing native installers.

This means:
* the icon is NOT copied while generating the native launcher: [see LinuxAppBundler](https://github.com/teamfx/openjfx-8u-dev-rt/blob/master/modules/fxpackager/src/main/java/com/oracle/tools/packager/linux/LinuxAppBundler.java#L227)
* the icon is used while

[2016-06-23 11:22] #214 closed

[2016-06-23 11:42] FibreFoX commented on #209
@jsyzthz did you inform oracle about the instruction-changes? any update on this?

[2016-06-23 13:16] erictwalker18 commented on #214
Thanks for the info!

[2016-06-23 15:36] jsyzthz commented on #209
which instruction? my test project? if yes,how to tell oracle,i just can only view the bug i reported.

[2016-06-23 16:33] FibreFoX commented on #209
@jsyzthz yes, I ment the test-project, which now has better description about how to reproduce.

I personally haven't been able to change existing bug.entries, so I'm afraid of being no help here. Maybe it would be the best to re-post that bug with the new instructions maybe? I will hold this issue on the javafx-maven-plugin open for others to see the progress, even this is nothing about the plugi

[2016-06-27 12:01] jsyzthz commented on #209
Hi ,
we received an email from oracle:
https://bugs.openjdk.java.net/browse/JDK-8160046
I couldn’t reproduce this using IDE.
Followed steps as indicated in https://github.com/jsyzthz/javafx
However, subsequent to your current report, I could reproduce this with all versions including 8u60, 8u77, 8u91. Therefore, according to current analysis:
- Issue is not reproducible when run from IDE
- Issue i

[2016-06-27 12:18] FibreFoX commented on #209
Inside the IDE, the native generated file is never launched, thats the reason this issue can't be cound inside the IDE ;)

As the reported bug didn't say something about IDE, I'm a bit confused why they didn't read the instructions before, but for that I commited a bit more detailed instructionset with the last PR :smile:

**This bug lies inside the native windows launcher, in the bridge between t